<!DOCTYPE html>
<html lang="ru">
<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Эмиссия событий во Vue</title>
  <meta name="description" content="Как дочерний компонент отправляет события родителю с помощью $emit во Vue. Примеры: как передавать данные, объекты, несколько аргументов и обрабатывать их." />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic" rel="stylesheet" />

  <!-- Подключение Highlight.js для подсветки синтаксиса -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
  <script>
    hljs.highlightAll();
  </script>
  <script type="module" crossorigin src="/assets/main-Ias32l34.js"></script>
  <link rel="stylesheet" crossorigin href="/assets/main-DBoOD-eQ.css">
</head>

<head>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
  <div class="wrapper">
    <header>
  <div class="container">
    <div class="menu-toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

    <div class="header-menu">
      <!-- Меню -->
      <nav class="nav">
        <ul class="nav-list">
          <!-- Главная -->
          <li class="nav-item">
            <a class="nav-link" href="/index.html">Главная</a>
          </li>

          <!-- html -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">HTML</a>

            <div class="subnav-list subnav-two-columns">
              <div class="subnav-column">
                <!-- Основы HTML -->
                <div class="subnav-group">
                  <div class="subnav-heading">Основы HTML</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/start-html.html">Введение в HTML</a></li>
                    <li><a class="subnav-link" href="/about-html/tags-html.html">Теги HTML</a></li>
                    <li><a class="subnav-link" href="/about-html/basic-tags.html">Теги базовые</a></li>
                    <li><a class="subnav-link" href="/about-html/formatting-tags.html">Теги форматирования</a></li>
                    <li><a class="subnav-link" href="/about-html/style-tags.html">Теги стилей</a></li>
                    <li><a class="subnav-link" href="/about-html/attributes-html.html">Атрибуты</a></li>
                    <li><a class="subnav-link" href="/about-html/simbol-html.html">Символы и сущности</a></li>
                  </ul>
                </div>

                <!-- Семантика и структура -->
                <div class="subnav-group">
                  <div class="subnav-heading">Семантика и структура</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/semantic-tags-html.html">Семантические теги</a></li>
                    <li><a class="subnav-link" href="/about-html/nosemantic-tags.html">Теги &lt;div&gt; и &lt;span&gt;</a></li>
                    <li><a class="subnav-link" href="/about-html/meta-tags.html">Метаданные и SEO</a></li>
                  </ul>
                </div>

                <!-- Формы и взаимодействие -->
                <div class="subnav-group">
                  <div class="subnav-heading">Формы и ввод данных</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/form-html.html">Формы</a></li>
                    <li><a class="subnav-link" href="/about-html/input-html.html">Элементы ввода</a></li>
                    <li><a class="subnav-link" href="/about-html/validation-html.html">Валидация форм</a></li>
                  </ul>
                </div>

                <!-- Списки и таблицы -->
                <div class="subnav-group">
                  <div class="subnav-heading">Списки и таблицы</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/list-html.html">Списки</a></li>
                    <li><a class="subnav-link" href="/about-html/table-html.html">Таблицы</a></li>
                  </ul>
                </div>
              </div>

              <div class="subnav-column">
                <!-- Мультимедиа и графика -->
                <div class="subnav-group">
                  <div class="subnav-heading">Мультимедиа и графика</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/media-html.html">Мультимедиа</a></li>
                    <li><a class="subnav-link" href="/about-html/image-html.html">Изображения</a></li>
                    <li><a class="subnav-link" href="/about-html/svg-html.html">SVG и Canvas</a></li>
                  </ul>
                </div>

                <!-- Навигация и ссылки -->
                <div class="subnav-group">
                  <div class="subnav-heading">Навигация и ссылки</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/link-html.html">Ссылки</a></li>
                    <li><a class="subnav-link" href="/about-html/menu-html.html">Меню и навигация</a></li>
                    <li><a class="subnav-link" href="/about-html/anchor-html.html">Якоря и переходы</a></li>
                  </ul>
                </div>

                <!-- Форматирование текста -->
                <div class="subnav-group">
                  <div class="subnav-heading">Форматирование текста</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/text-html.html">Текст и заголовки</a></li>
                    <li><a class="subnav-link" href="/about-html/formatting-html.html">Теги форматирования</a></li>
                  </ul>
                </div>

                <!-- Примеры и шаблоны -->
                <div class="subnav-group">
                  <div class="subnav-heading">Примеры и шаблоны</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/lending-html.html">Lending</a></li>
                    <li><a class="subnav-link" href="/about-html/template-html.html">Шаблоны HTML</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- css -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">CSS</a>
            <div class="subnav-list subnav-two-columns">
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Основы CSS</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/start-css.html">Основы CSS</a></li>
                    <li><a class="subnav-link" href="/about-css/cascading-css.html">Каскадность</a></li>
                    <li><a class="subnav-link" href="/about-css/selector-css.html">Селекторы</a></li>
                    <li><a class="subnav-link" href="/about-css/pseudo-classes.html">Псевдоклассы</a></li>
                    <li><a class="subnav-link" href="/about-css/pseudo-elements.html">Псевдоэлементы</a></li>
                    <li><a class="subnav-link" href="/about-css/colors.html">Цвета</a></li>
                    <li><a class="subnav-link" href="/about-css/text-align.html">Выравнивание текста</a></li>
                  </ul>
                </div>

                <div class="subnav-group">
                  <div class="subnav-heading">Работа со шрифтом</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/font-size.html">Размер шрифта</a></li>
                    <li><a class="subnav-link" href="/about-css/font-style.html">Шрифты</a></li>
                  </ul>
                </div>

                <div class="subnav-group">
                  <div class="subnav-heading">Размеры и единицы</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/units-css.html">Единицы измерения</a></li>
                    <li><a class="subnav-link" href="/about-css/dimensions.html">Размеры</a></li>
                    <li><a class="subnav-link" href="/about-css/border.html">Border</a></li>
                    <li><a class="subnav-link" href="/about-css/spacing.html">Отступы</a></li>
                    <li><a class="subnav-link" href="/about-css/overflow.html">Overflow</a></li>
                  </ul>
                </div>
              </div>

              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Макеты и сетки</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/layout.html">Макеты</a></li>
                    <li><a class="subnav-link" href="/about-css/flexbox.html">Flexbox</a></li>
                    <li><a class="subnav-link" href="/about-css/grid.html">Grid</a></li>
                    <li><a class="subnav-link" href="/about-css/flex-grid.html">Flex-grid</a></li>
                    <li><a class="subnav-link" href="/about-css/position.html">Position</a></li>
                  </ul>
                </div>

                <div class="subnav-group">
                  <div class="subnav-heading">Фон, медиа и эффекты</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/background.html">Background</a></li>
                    <li><a class="subnav-link" href="/about-css/media.html">Media</a></li>
                    <li><a class="subnav-link" href="/about-css/animation.html">Animation</a></li>
                    <li><a class="subnav-link" href="/about-css/movie-site.html">Movie-site</a></li>
                  </ul>
                </div>

                <div class="subnav-group">
                  <div class="subnav-heading">Элементы и таблицы</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/button.html">Кнопки</a></li>
                    <li><a class="subnav-link" href="/about-css/table-css.html">Таблицы</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- scss -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">SCSS</a>
            <ul class="subnav-list">
              <li><a class="subnav-link" href="/about-scss/start-scss.html">Основы scss</a></li>
              <li><a class="subnav-link" href="/about-scss/variables-scss.html">Переменные</a></li>
            </ul>
          </li>

          <!-- Теория JS -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">Теория JS</a>
            <div class="subnav-list subnav-three-columns">
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Основы JS</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/intro-to-javascript.html">Введение в JS</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/javascript-fundamentals.html">Основы JS</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/variables-in-javascript.html">Переменные</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/data-types-in-javascript.html">Типы данных</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/strict-mode-in-javascript.html">Strict mode</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/type-conversion-in-javascript.html">Преобразование типов</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/user-interaction-in-javascript.html">Взаимодействие</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Операторы</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/basic-operators-and-math.html">Базовые операторы</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/math-operators.html">Math операторы</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/comparison-operators.html">Сравнение</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/logical-operators.html">Логические операторы</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/nullish-coalescing-and-assignment-operators.html">Нулевое слияние</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Управление потоком</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/conditional-statements.html">Условия</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/switch-statement.html">Switch</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/while-and-for-loops.html">Циклы</a></li>
                  </ul>
                </div>
              </div>
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Функции</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/functions-in-javascript.html">Функции</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/arrow-functions.html">Arrow functions</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/closures.html">Замыкания</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Данные</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/arrays-basics.html">Массивы</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/array-methods.html">Методы массивов</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/objects-basics.html">Объекты</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/object-methods-this.html">Методы и this</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Асинхронность</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/async-await.html">Async/Await</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/api.html">API</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/modules-es.html">ES Modules</a></li>
                  </ul>
                </div>
              </div>
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">DOM</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/dom-basics.html">Основы DOM</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/dom-selection.html">Выбор элементов</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/dom-manipulation.html">Манипуляции DOM</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/dom-events.html">События</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/dom-timers.html">Таймеры</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/manipulation-classlist.html">classList</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- Практика JS -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">Практика JS</a>
            <ul class="subnav-list">
              <li><a class="subnav-link" href="/about-js-praktika/data-types.html">Типы данных</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/conditional.html">Условия</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/operators.html">Операторы</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/functions-in-javascript.html">Функции</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/praktika-arrow-functions.html">Arrow functions</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/closures.html">Замыкания</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/objects.html">Объекты</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/dom.html">DOM</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/execution-context.html">Контекст выполнения</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/example.html">Примеры</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/to-do-list.html">To-Do List</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/random-user-from-api.html">Random User API</a></li>
            </ul>
          </li>

          <!-- Дизайн -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">Дизайн</a>
            <ul class="subnav-list">
              <li><a class="subnav-link" href="/about-design/design-basic.html">Основы дизайна</a></li>
              <li><a class="subnav-link" href="/about-design/bazovie-printsipi-dizaina.html">Принципы дизайна</a></li>
              <li><a class="subnav-link" href="/about-design/design-color.html">Цвет</a></li>
              <li><a class="subnav-link" href="/about-design/typography.html">Типографика</a></li>
              <li><a class="subnav-link" href="/about-design/font-character.html">Шрифт</a></li>
              <li><a class="subnav-link" href="/about-design/stili-v-graficheskom-dizayne.html">Стили в дизайне</a></li>
              <li><a class="subnav-link" href="/about-design/rabota-s-grafikoy.html">Работа с графикой</a></li>
              <li><a class="subnav-link" href="/about-design/prakticheskie-chek-listy-instrumenty.html">Чек-листы и инструменты</a></li>
              <li><a class="subnav-link" href="/about-design/bonusal-materialy.html">Бонусные материалы</a></li>
            </ul>
          </li>

          <!-- vscode -->
          <li class="nav-item">
            <a class="nav-link" href="/vscode.html">vscode</a>
          </li>

          <!-- Vue js -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">Vue js</a>
            <div class="subnav-list subnav-three-columns">
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Основы Vue</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/vue-installation.html">Установка</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-data.html">Данные и реактивность</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-templates-directives.html">Шаблоны и директивы</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-events.html">События</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-methods.html">Методы</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-cycles-conditions.html">Циклы и условия</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-v-model.html">v-model</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Компоненты</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/components-vue-intro.html">Введение</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-props.html">Props</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-emits.html">Emits</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-slots.html">Slots</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-structure.html">Структура</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-reactivity.html">Реактивность</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-scoped.html">Scoped стили</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-dynamic-components.html">Динамические</a></li>
                  </ul>
                </div>
              </div>
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Router</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/router-intro.html">Введение в Router</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-dynamic.html">Динамические маршруты</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-nested-routes.html">Вложенные маршруты</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-guards.html">Navigation Guards</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-programmatic-navigation.html">Программная навигация</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-errors.html">Обработка ошибок</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-state.html">State</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Vuex</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/vuex-intro.html">Введение в Vuex</a></li>
                    <li><a class="subnav-link" href="/about-vue/vuex-state-getters.html">State и Getters</a></li>
                    <li><a class="subnav-link" href="/about-vue/vuex-modules.html">Modules</a></li>
                    <li><a class="subnav-link" href="/about-vue/vuex-reactivity.html">Реактивность Vuex</a></li>
                    <li><a class="subnav-link" href="/about-vue/vuex-helpers.html">Хелперы Vuex</a></li>
                  </ul>
                </div>
              </div>
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">API</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/api-intro.html">Введение в API</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-fetch.html">Fetch API</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-fetch-vue.html">Fetch во Vue</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-fetch-vuex-store.html">Fetch + Vuex Store</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-json-server.html">JSON Server</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-async-data-handling.html">Асинхронные данные</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-auth-tokens.html">Авторизация токены</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Шпаргалки и практика</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/brief-vue-basics.html">Шпаргалка: основы</a></li>
                    <li><a class="subnav-link" href="/about-vue/brief-components-vue.html">Шпаргалка: компоненты</a></li>
                    <li><a class="subnav-link" href="/about-vue/brief-router.html">Шпаргалка: роутер</a></li>
                    <li><a class="subnav-link" href="/about-vue/brief-vuex.html">Шпаргалка: Vuex</a></li>
                    <li><a class="subnav-link" href="/about-vue/brief-api-vue.html">Шпаргалка: API</a></li>
                    <li><a class="subnav-link" href="/about-vue/practice-vue-intro.html">Практика: введение</a></li>
                    <li><a class="subnav-link" href="/about-vue/practice-components-vue.html">Практика: компоненты</a></li>
                    <li><a class="subnav-link" href="/about-vue/practice-shopping-list-vue.html">Практика: список покупок</a></li>
                    <li><a class="subnav-link" href="/about-vue/practice-quotes-day.html">Практика: цитаты дня</a></li>
                    <li><a class="subnav-link" href="/about-vue/practice-portfolio-vue-practice.html">Практика: портфолио</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- React js -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">React js</a>
            <div class="subnav-list subnav-three-columns">
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Установка и основы</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-react/react-installation.html">Установка</a></li>
                    <li><a class="subnav-link" href="/about-react/react-setup.html">Настройка</a></li>
                    <li><a class="subnav-link" href="/about-react/react-basics.html">Основы JSX</a></li>
                    <li><a class="subnav-link" href="/about-react/react-basics-all.html">Основы: кратко</a></li>
                    <li><a class="subnav-link" href="/about-react/react-structure.html">Структура</a></li>
                    <li><a class="subnav-link" href="/about-react/react-data-basics.html">Данные</a></li>
                    <li><a class="subnav-link" href="/about-react/react-events-basics.html">События</a></li>
                    <li><a class="subnav-link" href="/about-react/react-methods.html">Методы</a></li>
                    <li><a class="subnav-link" href="/about-react/react-hooks.html">Hooks</a></li>
                  </ul>
                </div>
              </div>
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Компоненты</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-react/react-components.html">Компоненты</a></li>
                    <li><a class="subnav-link" href="/about-react/react-components-all.html">Компоненты: кратко</a></li>
                    <li><a class="subnav-link" href="/about-react/props-page.html">Props</a></li>
                    <li><a class="subnav-link" href="/about-react/react-children.html">Children</a></li>
                    <li><a class="subnav-link" href="/about-react/react-emits.html">Callbacks и Events</a></li>
                    <li><a class="subnav-link" href="/about-react/react-dynamic-components.html">Динамические</a></li>
                    <li><a class="subnav-link" href="/about-react/react-cycles-conditions.html">Циклы и условия</a></li>
                    <li><a class="subnav-link" href="/about-react/react-controlled-inputs.html">Контролируемые инпуты</a></li>
                    <li><a class="subnav-link" href="/about-react/react-forms.html">Формы</a></li>
                  </ul>
                </div>
              </div>
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Продвинутый уровень</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-react/react-context.html">Context</a></li>
                    <li><a class="subnav-link" href="/about-react/react-memo.html">Memo</a></li>
                    <li><a class="subnav-link" href="/about-react/react-useReducer.html">useReducer</a></li>
                    <li><a class="subnav-link" href="/about-react/react-redux.html">Redux</a></li>
                    <li><a class="subnav-link" href="/about-react/react-fetch-api.html">Fetch API</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Router</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-react/router-react-intro.html">Введение в Router</a></li>
                    <li><a class="subnav-link" href="/about-react/react-router-dynamic.html">Динамические маршруты</a></li>
                    <li><a class="subnav-link" href="/about-react/react-router-nested.html">Вложенные маршруты</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
    <main class="page">
      <nav class="nav-tabs">
        <a href="#emits-intro">Введение в emits</a>
        <a href="#emits-basic">Базовая передача событий</a>
        <a href="#emits-object">Передача объектов и форм</a>
        <a href="#emits-multiargs">Передача нескольких аргументов</a>
        <a href="#emits-multiple">Несколько дочерних компонентов</a>
      </nav>

      <!-- Введение -->
      <section class="section" id="emits-intro">
        <div class="container">
          <h1>Введение в emits</h1>
          <p class="note">
            <strong>$emit</strong> - это способ, с помощью которого дочерний компонент может отправлять
            <b>события</b> родительскому компоненту во Vue.js.
            <br /> Это позволяет дочерним компонентам сообщать родителям о действиях или изменениях, чтобы те могли реагировать соответствующим образом. <br>Название <b>"$emit"</b> происходит от английского слова "emit", что означает "излучать" или "передавать".
          </p>
          <h4>Для чего используется $emit:</h4>
          <ul class="list-ul">
            <li>Сообщение родительскому компоненту о <b>действиях пользователя</b> в дочернем компоненте.</li>
            <li><b>Передача данных или изменений состояния</b> от дочернего компонента к родителю.</li>
            <li><b>Создание взаимодействия</b> между компонентами без прямого изменения данных родителя из дочернего компонента.</li>
          </ul>
        </div>
      </section>

      <!-- Базовая передача событий -->
      <section class="section" id="emits-basic">
        <div class="container">
          <h2>Базовая передача событий</h2>
          <div class="note">
            <strong>Базовая передача событий через $emit:</strong> - это когда дочерний компонент отправляет простое событие родительскому компоненту без дополнительных данных.
            <br> Например, когда пользователь нажимает кнопку в дочернем компоненте, и дочерний компонент сообщает об этом родителю, чтобы тот мог выполнить какое-то действие, например, увеличить счётчик.
          </div>

          <h3>Пример: увеличение счётчика:</h3>
          <h4>Родительский компонент </h4>
          <div class="code-block">
            <pre><code>&lt;template&gt;
  &lt;div&gt;
    &lt;h2&gt;Счётчик: {{ count }}&lt;/h2&gt;
    &lt;CounterButton @increase="incrementCount" /&gt;
  &lt;/div&gt;
&lt;/template&gt;

&lt;script&gt;
import CounterButton from './CounterButton.vue';

export default {
  components: { CounterButton },
  data() {
    return { count: 0 };
  },
  methods: {
    incrementCount() {
      this.count++;
    }
  }
};
&lt;/script&gt;</code></pre>
          </div>

          <h5>Объяснение кода:</h5>
          <ul class="list-ul">
            <li>
              В родительском компоненте есть переменная
              <code>count</code>
              , которая хранит текущее значение счётчика.
            </li>
            <li>
              Родительский компонент включает дочерний компонент
              <code>CounterButton</code>
              и слушает событие
              <code>increase</code>
              с помощью
              <code>@increase="incrementCount"</code>
              .
            </li>
            <li>
              Когда дочерний компонент отправляет событие
              <code>increase</code>
              , вызывается метод
              <code>incrementCount</code>
              , который увеличивает значение
              <code>count</code>
              на 1.
            </li>
          </ul>

          <h4>Дочерний компонент: CounterButton.vue</h4>
          <div class="code-block">
            <pre><code>&lt;template&gt;
  &lt;button @click="$emit('increase')"&gt;+1&lt;/button&gt;
&lt;/template&gt;</code></pre>
          </div>
          <h5>Объяснение кода:</h5>
          <ul class="list-ul">
            <li>
              В дочернем компоненте есть кнопка, которая при нажатии вызывает
              <code>$emit('increase')</code>
              .
            </li>
            <li>
              Это отправляет событие
              <code>increase</code>
              родительскому компоненту.
            </li>
          </ul>


          <div class="interactive-demo">
            <div id="emits-basic-demo"></div>
          </div>

          <div class="note note--info">
            <b>Кратко:</b>
            <ul class="list-ul">
              <li>Дочерний компонент не меняет данные родителя напрямую!</li>
              <li>Он только сообщает о действии — родитель реагирует и меняет данные.</li>
            </ul>
          </div>

        </div>
      </section>


      <!-- Передача объектов -->
      <section class="section" id="emits-object">
        <div class="container">
          <h2>Передача объектов и форм</h2>
          <p class="note">
            <b>$emit</b>
            может передавать сложные данные, такие как объекты или формы.
            <br />
            Это полезно, когда дочерний компонент собирает данные от пользователя и отправляет их родителю.
          </p>

          <h3>Пример: форма пользователя</h3>
          <p>Родительский компонент получает объект с именем и возрастом пользователя от дочернего компонента.</p>

          <div class="code-block">
            <pre><code><!-- Родительский компонент -->
&lt;div id="app"&gt;
  &lt;h2&gt;Пользователь: {{ user.name }}, {{ user.age }} лет&lt;/h2&gt;
  &lt;child-component @send-user="updateUser"&gt;&lt;/child-component&gt;
&lt;/div&gt;

&lt;script&gt;
Vue.createApp({
  data() {
    return {
      user: { name: "Неизвестно", age: 0 }
    };
  },
  methods: {
    updateUser(newUser) {
      this.user = newUser;
    }
  }
}).component("child-component", {
  template: `
    &lt;div&gt;
      &lt;input v-model="name" placeholder="Имя"&gt;
      &lt;input v-model="age" type="number" placeholder="Возраст"&gt;
      &lt;button @click="$emit('send-user', { name, age })"&gt;Отправить&lt;/button&gt;
    &lt;/div&gt;
  `,
  data() {
    return {
      name: "",
      age: null
    };
  }
}).mount("#app");
&lt;/script&gt;</code></pre>
            <h5>Объяснение кода:</h5>
            <ul class="list-ul">
              <li>
                В родительском компоненте есть объект
                <code>user</code>
                , который хранит имя и возраст пользователя.
              </li>
              <li>
                Родительский компонент включает дочерний компонент
                <code>child-component</code>
                и слушает событие
                <code>send-user</code>
                с помощью
                <code>@send-user="updateUser"</code>
                .
              </li>
              <li>
                Когда пользователь заполняет форму в дочернем компоненте и нажимает кнопку,
                <code>$emit('send-user', { name, age })</code>
                отправляет объект с именем и возрастом родителю.
              </li>
              <li>
                Родительский компонент получает этот объект в методе
                <code>updateUser</code>
                и обновляет свой объект
                <code>user</code>
                .
              </li>
            </ul>
            <div class="interactive-demo">
              <div id="emits-object-demo"></div>
            </div>
          </div>
          <div class="note note--info">
            <b>Так часто отправляются формы:</b>
            <ul>
              <li>Дочерний компонент собирает данные</li>
              <li>
                Через
                <code>$emit</code>
                передаёт их родителю
              </li>
              <li>Родитель обновляет свои данные</li>
            </ul>
          </div>
        </div>
      </section>

      <!-- Передача нескольких аргументов -->
      <section class="section" id="emits-multiargs">
        <div class="container">
          <h2>Передача нескольких аргументов</h2>
          <p class="note">
            <b>$emit</b>
            может передавать сразу несколько значений.
            <br />
            Это удобно для передачи ID и статуса задачи, например.
          </p>
          <div class="grid-column-100">
            <pre><code>
<!-- Родительский компонент -->
&lt;div id="app"&gt;
  &lt;h2&gt;Статус задачи:&lt;/h2&gt;
  &lt;p&gt;ID: {{ taskInfo.id }}, Статус: {{ taskInfo.status }}&lt;/p&gt;
  &lt;child-component @update-task="handleTaskUpdate"&gt;&lt;/child-component&gt;
&lt;/div&gt;

&lt;script&gt;
Vue.createApp({
  data() {
    return {
      taskInfo: { id: null, status: 'Не задан' }
    };
  },
  methods: {
    handleTaskUpdate(taskId, newStatus) {
      this.taskInfo.id = taskId;
      this.taskInfo.status = newStatus;
    }
  }
}).component("child-component", {
  template: `&lt;button @click="$emit('update-task', 101, 'выполнено')"&gt;Обновить задачу&lt;/button&gt;`
}).mount("#app");
&lt;/script&gt;
                            </code></pre>
            <div class="example">
              <div id="emits-multiargs-demo"></div>
            </div>
          </div>
          <div class="note note--info">
            <b>Передавать можно сколько угодно аргументов!</b>
            <br />
            Главное — соблюдать порядок.
          </div>
        </div>
      </section>

      <!-- Несколько дочерних компонентов -->
      <section class="section" id="emits-multiple">
        <div class="container">
          <h2>Несколько дочерних компонентов: сообщения</h2>
          <p class="note">Родитель может принимать сообщения от нескольких дочерних компонентов.</p>
          <div class="grid-column-100">
            <pre><code>
&lt;div id="app"&gt;
  &lt;h2&gt;Сообщения от детей:&lt;/h2&gt;
  &lt;child-component @child-event="handleEvent('Компонент 1', $event)"&gt;&lt;/child-component&gt;
  &lt;child-component @child-event="handleEvent('Компонент 2', $event)"&gt;&lt;/child-component&gt;
  &lt;p&gt;{{ message }}&lt;/p&gt;
&lt;/div&gt;

&lt;script&gt;
Vue.createApp({
  data() {
    return { message: "" }
  },
  methods: {
    handleEvent(name, msg) {
      this.message = `${name} говорит: ${msg}`;
    }
  }
})
.component("child-component", {
  template: `
    &lt;button @click="$emit('child-event', 'Привет, родитель!')"&gt;
      Нажми меня! 👍
    &lt;/button&gt;
  `
})
.mount("#app");
&lt;/script&gt;
                            </code></pre>
            <div class="example">
              <div id="emits-multiple-demo"></div>
            </div>
          </div>
          <div class="note note--info">
            <b>Родитель слушает события от любых детей.</b>
            <br />
            Можно узнать, кто отправил сообщение, и обработать его по-своему.
          </div>
        </div>
      </section>
    </main>
    <footer>
  <a href="#" class="back-to-top">Наверх ↑</a>
</footer>

  </div>

  <script>
    // Базовый пример эмиссии события: увеличение счётчика
    const CounterButton = {
      template: `<button @click="$emit('increase')">+1</button>`,
    };

    Vue.createApp({
      components: {
        CounterButton
      },
      data() {
        return {
          count: 0
        };
      },
      methods: {
        incrementCount() {
          this.count++;
        },
      },
      template: `
                  <div>
                    <h2>Счётчик: {{ count }}</h2>
                    <CounterButton @increase="incrementCount" />
                  </div>
                `,
    }).mount("#emits-basic-demo");

    // Передача объекта: форма пользователя
    Vue.createApp({
        data() {
          return {
            user: {
              name: "Неизвестно",
              age: 0
            },
          };
        },
        methods: {
          updateUser(newUser) {
            this.user = newUser;
          },
        },
        template: `
        <div>
          <h2>Пользователь: {{ user.name }}, {{ user.age }} лет</h2>
          <child-component @send-user="updateUser"></child-component>
        </div>
      `,
      })
      .component("child-component", {
        template: `
        <div>
          <input v-model="name" placeholder="Имя">
          <input v-model="age" type="number" placeholder="Возраст">
          <button @click="$emit('send-user', { name, age })">Отправить</button>
        </div>
      `,
        data() {
          return {
            name: "",
            age: null
          };
        },
      })
      .mount("#emits-object-demo");

    // Передача нескольких аргументов
    Vue.createApp({
        data() {
          return {
            taskInfo: {
              id: null,
              status: "Не задан"
            },
          };
        },
        methods: {
          handleTaskUpdate(taskId, newStatus) {
            this.taskInfo.id = taskId;
            this.taskInfo.status = newStatus;
          },
        },
        template: `
        <div>
          <h2>Статус задачи:</h2>
          <p>ID: {{ taskInfo.id }}, Статус: {{ taskInfo.status }}</p>
          <child-component @update-task="handleTaskUpdate"></child-component>
        </div>
      `,
      })
      .component("child-component", {
        template: `<button @click="$emit('update-task', 101, 'выполнено')">Обновить задачу</button>`,
      })
      .mount("#emits-multiargs-demo");

    // Несколько дочерних компонентов
    Vue.createApp({
        data() {
          return {
            message: ""
          };
        },
        methods: {
          handleEvent(name, msg) {
            this.message = `${name} говорит: ${msg}`;
          },
        },
      })
      .component("child-component", {
        template: `<button @click="$emit('child-event', 'Привет, родитель!')">Нажми меня! 👍</button>`,
      })
      .mount(
        (function (el) {
          const container = document.getElementById("emits-multiple-demo");
          container.innerHTML = `
                  <child-component @child-event="handleEvent('Компонент 1', $event)"></child-component>
                  <child-component @child-event="handleEvent('Компонент 2', $event)"></child-component>
                  <p>{{ message }}</p>
                `;
          return container;
        })("#emits-multiple-demo")
      );
  </script>
</body>

</html>