<!DOCTYPE html>
<html lang="ru">
<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Работа с данными через data() во Vue</title>
  <meta name="description" content="Как правильно объявлять переменные в data(), использовать их в шаблоне и динамически обновлять данные во Vue.js" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic" rel="stylesheet" />

  <!-- Подключение Highlight.js для подсветки синтаксиса -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
  <script>
    hljs.highlightAll();
  </script>
  <script type="module" crossorigin src="/assets/main-Ias32l34.js"></script>
  <link rel="stylesheet" crossorigin href="/assets/main-DBoOD-eQ.css">
</head>

<body>
  <div class="wrapper">
    <header>
  <div class="container">
    <div class="menu-toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

    <div class="header-menu">
      <!-- Меню -->
      <nav class="nav">
        <ul class="nav-list">
          <!-- Главная -->
          <li class="nav-item">
            <a class="nav-link" href="/index.html">Главная</a>
          </li>

          <!-- html -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">HTML</a>

            <div class="subnav-list subnav-two-columns">
              <div class="subnav-column">
                <!-- Основы HTML -->
                <div class="subnav-group">
                  <div class="subnav-heading">Основы HTML</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/start-html.html">Введение в HTML</a></li>
                    <li><a class="subnav-link" href="/about-html/tags-html.html">Теги HTML</a></li>
                    <li><a class="subnav-link" href="/about-html/basic-tags.html">Теги базовые</a></li>
                    <li><a class="subnav-link" href="/about-html/formatting-tags.html">Теги форматирования</a></li>
                    <li><a class="subnav-link" href="/about-html/style-tags.html">Теги стилей</a></li>
                    <li><a class="subnav-link" href="/about-html/attributes-html.html">Атрибуты</a></li>
                    <li><a class="subnav-link" href="/about-html/simbol-html.html">Символы и сущности</a></li>
                  </ul>
                </div>

                <!-- Семантика и структура -->
                <div class="subnav-group">
                  <div class="subnav-heading">Семантика и структура</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/semantic-tags-html.html">Семантические теги</a></li>
                    <li><a class="subnav-link" href="/about-html/nosemantic-tags.html">Теги &lt;div&gt; и &lt;span&gt;</a></li>
                    <li><a class="subnav-link" href="/about-html/meta-tags.html">Метаданные и SEO</a></li>
                  </ul>
                </div>

                <!-- Формы и взаимодействие -->
                <div class="subnav-group">
                  <div class="subnav-heading">Формы и ввод данных</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/form-html.html">Формы</a></li>
                    <li><a class="subnav-link" href="/about-html/input-html.html">Элементы ввода</a></li>
                    <li><a class="subnav-link" href="/about-html/validation-html.html">Валидация форм</a></li>
                  </ul>
                </div>

                <!-- Списки и таблицы -->
                <div class="subnav-group">
                  <div class="subnav-heading">Списки и таблицы</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/list-html.html">Списки</a></li>
                    <li><a class="subnav-link" href="/about-html/table-html.html">Таблицы</a></li>
                  </ul>
                </div>
              </div>

              <div class="subnav-column">
                <!-- Мультимедиа и графика -->
                <div class="subnav-group">
                  <div class="subnav-heading">Мультимедиа и графика</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/media-html.html">Мультимедиа</a></li>
                    <li><a class="subnav-link" href="/about-html/image-html.html">Изображения</a></li>
                    <li><a class="subnav-link" href="/about-html/svg-html.html">SVG и Canvas</a></li>
                  </ul>
                </div>

                <!-- Навигация и ссылки -->
                <div class="subnav-group">
                  <div class="subnav-heading">Навигация и ссылки</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/link-html.html">Ссылки</a></li>
                    <li><a class="subnav-link" href="/about-html/menu-html.html">Меню и навигация</a></li>
                    <li><a class="subnav-link" href="/about-html/anchor-html.html">Якоря и переходы</a></li>
                  </ul>
                </div>

                <!-- Форматирование текста -->
                <div class="subnav-group">
                  <div class="subnav-heading">Форматирование текста</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/text-html.html">Текст и заголовки</a></li>
                    <li><a class="subnav-link" href="/about-html/formatting-html.html">Теги форматирования</a></li>
                  </ul>
                </div>

                <!-- Примеры и шаблоны -->
                <div class="subnav-group">
                  <div class="subnav-heading">Примеры и шаблоны</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/lending-html.html">Lending</a></li>
                    <li><a class="subnav-link" href="/about-html/template-html.html">Шаблоны HTML</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- css -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">CSS</a>
            <div class="subnav-list subnav-two-columns">
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Основы CSS</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/start-css.html">Основы CSS</a></li>
                    <li><a class="subnav-link" href="/about-css/cascading-css.html">Каскадность</a></li>
                    <li><a class="subnav-link" href="/about-css/selector-css.html">Селекторы</a></li>
                    <li><a class="subnav-link" href="/about-css/pseudo-classes.html">Псевдоклассы</a></li>
                    <li><a class="subnav-link" href="/about-css/pseudo-elements.html">Псевдоэлементы</a></li>
                    <li><a class="subnav-link" href="/about-css/colors.html">Цвета</a></li>
                    <li><a class="subnav-link" href="/about-css/text-align.html">Выравнивание текста</a></li>
                  </ul>
                </div>

                <div class="subnav-group">
                  <div class="subnav-heading">Работа со шрифтом</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/font-size.html">Размер шрифта</a></li>
                    <li><a class="subnav-link" href="/about-css/font-style.html">Шрифты</a></li>
                  </ul>
                </div>

                <div class="subnav-group">
                  <div class="subnav-heading">Размеры и единицы</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/units-css.html">Единицы измерения</a></li>
                    <li><a class="subnav-link" href="/about-css/dimensions.html">Размеры</a></li>
                    <li><a class="subnav-link" href="/about-css/border.html">Border</a></li>
                    <li><a class="subnav-link" href="/about-css/spacing.html">Отступы</a></li>
                    <li><a class="subnav-link" href="/about-css/overflow.html">Overflow</a></li>
                  </ul>
                </div>
              </div>

              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Макеты и сетки</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/layout.html">Макеты</a></li>
                    <li><a class="subnav-link" href="/about-css/flexbox.html">Flexbox</a></li>
                    <li><a class="subnav-link" href="/about-css/grid.html">Grid</a></li>
                    <li><a class="subnav-link" href="/about-css/flex-grid.html">Flex-grid</a></li>
                    <li><a class="subnav-link" href="/about-css/position.html">Position</a></li>
                  </ul>
                </div>

                <div class="subnav-group">
                  <div class="subnav-heading">Фон, медиа и эффекты</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/background.html">Background</a></li>
                    <li><a class="subnav-link" href="/about-css/media.html">Media</a></li>
                    <li><a class="subnav-link" href="/about-css/animation.html">Animation</a></li>
                    <li><a class="subnav-link" href="/about-css/movie-site.html">Movie-site</a></li>
                  </ul>
                </div>

                <div class="subnav-group">
                  <div class="subnav-heading">Элементы и таблицы</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/button.html">Кнопки</a></li>
                    <li><a class="subnav-link" href="/about-css/table-css.html">Таблицы</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- scss -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">SCSS</a>
            <ul class="subnav-list">
              <li><a class="subnav-link" href="/about-scss/start-scss.html">Основы scss</a></li>
              <li><a class="subnav-link" href="/about-scss/variables-scss.html">Переменные</a></li>
            </ul>
          </li>

          <!-- Теория JS -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">Теория JS</a>
            <div class="subnav-list subnav-three-columns">
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Основы JS</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/intro-to-javascript.html">Введение в JS</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/javascript-fundamentals.html">Основы JS</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/variables-in-javascript.html">Переменные</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/data-types-in-javascript.html">Типы данных</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/strict-mode-in-javascript.html">Strict mode</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/type-conversion-in-javascript.html">Преобразование типов</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/user-interaction-in-javascript.html">Взаимодействие</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Операторы</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/basic-operators-and-math.html">Базовые операторы</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/math-operators.html">Math операторы</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/comparison-operators.html">Сравнение</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/logical-operators.html">Логические операторы</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/nullish-coalescing-and-assignment-operators.html">Нулевое слияние</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Управление потоком</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/conditional-statements.html">Условия</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/switch-statement.html">Switch</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/while-and-for-loops.html">Циклы</a></li>
                  </ul>
                </div>
              </div>
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Функции</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/functions-in-javascript.html">Функции</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/arrow-functions.html">Arrow functions</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/closures.html">Замыкания</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Данные</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/arrays-basics.html">Массивы</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/array-methods.html">Методы массивов</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/objects-basics.html">Объекты</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/object-methods-this.html">Методы и this</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Асинхронность</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/async-await.html">Async/Await</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/api.html">API</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/modules-es.html">ES Modules</a></li>
                  </ul>
                </div>
              </div>
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">DOM</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/dom-basics.html">Основы DOM</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/dom-selection.html">Выбор элементов</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/dom-manipulation.html">Манипуляции DOM</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/dom-events.html">События</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/dom-timers.html">Таймеры</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/manipulation-classlist.html">classList</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- Практика JS -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">Практика JS</a>
            <ul class="subnav-list">
              <li><a class="subnav-link" href="/about-js-praktika/data-types.html">Типы данных</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/conditional.html">Условия</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/operators.html">Операторы</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/functions-in-javascript.html">Функции</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/praktika-arrow-functions.html">Arrow functions</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/closures.html">Замыкания</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/objects.html">Объекты</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/dom.html">DOM</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/execution-context.html">Контекст выполнения</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/example.html">Примеры</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/to-do-list.html">To-Do List</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/random-user-from-api.html">Random User API</a></li>
            </ul>
          </li>

          <!-- Дизайн -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">Дизайн</a>
            <ul class="subnav-list">
              <li><a class="subnav-link" href="/about-design/design-basic.html">Основы дизайна</a></li>
              <li><a class="subnav-link" href="/about-design/bazovie-printsipi-dizaina.html">Принципы дизайна</a></li>
              <li><a class="subnav-link" href="/about-design/design-color.html">Цвет</a></li>
              <li><a class="subnav-link" href="/about-design/typography.html">Типографика</a></li>
              <li><a class="subnav-link" href="/about-design/font-character.html">Шрифт</a></li>
              <li><a class="subnav-link" href="/about-design/stili-v-graficheskom-dizayne.html">Стили в дизайне</a></li>
              <li><a class="subnav-link" href="/about-design/rabota-s-grafikoy.html">Работа с графикой</a></li>
              <li><a class="subnav-link" href="/about-design/prakticheskie-chek-listy-instrumenty.html">Чек-листы и инструменты</a></li>
              <li><a class="subnav-link" href="/about-design/bonusal-materialy.html">Бонусные материалы</a></li>
            </ul>
          </li>

          <!-- vscode -->
          <li class="nav-item">
            <a class="nav-link" href="/vscode.html">vscode</a>
          </li>

          <!-- Vue js -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">Vue js</a>
            <div class="subnav-list subnav-three-columns">
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Основы Vue</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/vue-installation.html">Установка</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-data.html">Данные и реактивность</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-templates-directives.html">Шаблоны и директивы</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-events.html">События</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-methods.html">Методы</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-cycles-conditions.html">Циклы и условия</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-v-model.html">v-model</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Компоненты</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/components-vue-intro.html">Введение</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-props.html">Props</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-emits.html">Emits</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-slots.html">Slots</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-structure.html">Структура</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-reactivity.html">Реактивность</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-scoped.html">Scoped стили</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-dynamic-components.html">Динамические</a></li>
                  </ul>
                </div>
              </div>
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Router</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/router-intro.html">Введение в Router</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-dynamic.html">Динамические маршруты</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-nested-routes.html">Вложенные маршруты</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-guards.html">Navigation Guards</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-programmatic-navigation.html">Программная навигация</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-errors.html">Обработка ошибок</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-state.html">State</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Vuex</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/vuex-intro.html">Введение в Vuex</a></li>
                    <li><a class="subnav-link" href="/about-vue/vuex-state-getters.html">State и Getters</a></li>
                    <li><a class="subnav-link" href="/about-vue/vuex-modules.html">Modules</a></li>
                    <li><a class="subnav-link" href="/about-vue/vuex-reactivity.html">Реактивность Vuex</a></li>
                    <li><a class="subnav-link" href="/about-vue/vuex-helpers.html">Хелперы Vuex</a></li>
                  </ul>
                </div>
              </div>
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">API</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/api-intro.html">Введение в API</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-fetch.html">Fetch API</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-fetch-vue.html">Fetch во Vue</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-fetch-vuex-store.html">Fetch + Vuex Store</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-json-server.html">JSON Server</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-async-data-handling.html">Асинхронные данные</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-auth-tokens.html">Авторизация токены</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Шпаргалки и практика</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/brief-vue-basics.html">Шпаргалка: основы</a></li>
                    <li><a class="subnav-link" href="/about-vue/brief-components-vue.html">Шпаргалка: компоненты</a></li>
                    <li><a class="subnav-link" href="/about-vue/brief-router.html">Шпаргалка: роутер</a></li>
                    <li><a class="subnav-link" href="/about-vue/brief-vuex.html">Шпаргалка: Vuex</a></li>
                    <li><a class="subnav-link" href="/about-vue/brief-api-vue.html">Шпаргалка: API</a></li>
                    <li><a class="subnav-link" href="/about-vue/practice-vue-intro.html">Практика: введение</a></li>
                    <li><a class="subnav-link" href="/about-vue/practice-components-vue.html">Практика: компоненты</a></li>
                    <li><a class="subnav-link" href="/about-vue/practice-shopping-list-vue.html">Практика: список покупок</a></li>
                    <li><a class="subnav-link" href="/about-vue/practice-quotes-day.html">Практика: цитаты дня</a></li>
                    <li><a class="subnav-link" href="/about-vue/practice-portfolio-vue-practice.html">Практика: портфолио</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- React js -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">React js</a>
            <div class="subnav-list subnav-three-columns">
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Установка и основы</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-react/react-installation.html">Установка</a></li>
                    <li><a class="subnav-link" href="/about-react/react-setup.html">Настройка</a></li>
                    <li><a class="subnav-link" href="/about-react/react-basics.html">Основы JSX</a></li>
                    <li><a class="subnav-link" href="/about-react/react-basics-all.html">Основы: кратко</a></li>
                    <li><a class="subnav-link" href="/about-react/react-structure.html">Структура</a></li>
                    <li><a class="subnav-link" href="/about-react/react-data-basics.html">Данные</a></li>
                    <li><a class="subnav-link" href="/about-react/react-events-basics.html">События</a></li>
                    <li><a class="subnav-link" href="/about-react/react-methods.html">Методы</a></li>
                    <li><a class="subnav-link" href="/about-react/react-hooks.html">Hooks</a></li>
                  </ul>
                </div>
              </div>
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Компоненты</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-react/react-components.html">Компоненты</a></li>
                    <li><a class="subnav-link" href="/about-react/react-components-all.html">Компоненты: кратко</a></li>
                    <li><a class="subnav-link" href="/about-react/props-page.html">Props</a></li>
                    <li><a class="subnav-link" href="/about-react/react-children.html">Children</a></li>
                    <li><a class="subnav-link" href="/about-react/react-emits.html">Callbacks и Events</a></li>
                    <li><a class="subnav-link" href="/about-react/react-dynamic-components.html">Динамические</a></li>
                    <li><a class="subnav-link" href="/about-react/react-cycles-conditions.html">Циклы и условия</a></li>
                    <li><a class="subnav-link" href="/about-react/react-controlled-inputs.html">Контролируемые инпуты</a></li>
                    <li><a class="subnav-link" href="/about-react/react-forms.html">Формы</a></li>
                  </ul>
                </div>
              </div>
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Продвинутый уровень</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-react/react-context.html">Context</a></li>
                    <li><a class="subnav-link" href="/about-react/react-memo.html">Memo</a></li>
                    <li><a class="subnav-link" href="/about-react/react-useReducer.html">useReducer</a></li>
                    <li><a class="subnav-link" href="/about-react/react-redux.html">Redux</a></li>
                    <li><a class="subnav-link" href="/about-react/react-fetch-api.html">Fetch API</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Router</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-react/router-react-intro.html">Введение в Router</a></li>
                    <li><a class="subnav-link" href="/about-react/react-router-dynamic.html">Динамические маршруты</a></li>
                    <li><a class="subnav-link" href="/about-react/react-router-nested.html">Вложенные маршруты</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
    <main class="page">
      <nav class="nav-tabs">
        <a href="#intro">Введение</a>
        <a href="#data-declare">Объявление переменных</a>
        <a href="#data-template">Использование в шаблоне</a>
        <a href="#data-change">Динамическое изменение</a>
        <a href="#tips">Советы</a>
        <a href="#best-practices">Лучшие практики</a>
        <a href="#examples">Примеры</a>
      </nav>

      <!-- Введение -->
      <section class="section" id="intro">
        <div class="container">
          <div class="intro-code-block">
            <h1>Работа с данными через <code>data()</code></h1>
            <p class="note">
              <strong>data()</strong> - функция, которая возвращает объект с переменными, которые Vue делает реактивными. Это основа для хранения состояния приложения во Vue.js.
            </p>
            <h4>Для чего нужна data():</h4>
            <ul class="list-ul">
              <li>
                Хранить данные приложения
              </li>
              <li>
                Управлять интерфейсом
              </li>
              <li>
                Делать страницу динамической
              </li>
            </ul>
            <p class="note note--info">Можно не использовать <code>data()</code> в простых случаях, но для сложных приложений она обязательна!</p>
          </div>
      </section>

      <!-- Как объявлять переменные -->
      <section class="section" id="data-declare">
        <div class="container">
          <h2>Объявление переменных в <code>data()</code></h2>
          <p class="note">
            <strong>Объявление переменных в <code>data()</code></strong> - это создание свойств объекта, которые Vue будет отслеживать и обновлять в шаблоне при изменении.
            <br /> Это делается внутри функции <code>data()</code>, которая возвращает объект с нужными переменными.
          </p>
          <h4>Пример:</h4>
          <div class="code-block">
            <pre><code>data() {
  return {
    username: "Алексей"
  };
}</code></pre>
          </div>
          <h5>Объяснение кода:</h5>
          <ul class="list-ul">
            <li>Функция <code>data()</code> возвращает объект с переменными</li>
            <li>В объекте объявлена переменная <code>username</code> со значением "Алексей"</li>
            <li>Теперь Vue будет следить за изменениями <code>username</code></li>

          </ul>

          <div class="note note--info">
            <b>Правило:</b>
            Все переменные для шаблона должны быть объявлены в
            <code>data()</code>
            , иначе Vue не сможет за ними следить!
          </div>
        </div>
      </section>

      <!-- Использование переменных в шаблоне -->
      <section class="section" id="data-template">
        <div class="container">
          <h2>Использование переменных в шаблоне</h2>
          <p class="note"><strong>Использование переменных в шаблоне Vue</strong> происходит через двойные фигурные скобки <code>{{ }}</code>, которые называются <b>интерполяцией</b>. Это позволяет динамически отображать значения переменных из <code>data()</code> в HTML.</p>

          <h4>Пример:</h4>
          <div class="code-block">
            <pre><code>&lt;div id="app"&gt;
  &lt;h1&gt;Привет, {{ username }}!&lt;/h1&gt;
&lt;/div&gt;

&lt;script&gt;
  Vue.createApp({
    data() {
      return {
        username: "Алексей"
      };
    }
  }).mount("#app");
&lt;/script&gt;</code></pre>
          </div>
          <h5>Объяснение кода:</h5>
          <ul class="list-ul">
            <li>В HTML используется <code>{{ username }}</code> для вывода значения переменной</li>
            <li>Переменная <code>username</code> объявлена в <code>data()</code> с начальным значением "Алексей"</li>
            <li>Когда Vue монтирует приложение, он заменяет <code>{{ username }}</code> на текущее значение переменной</li>
          </ul>
          <!-- Вывод: -->
          <p class="note note--info">
            🚀
            <strong>Использование переменных в шаблоне</strong>
            — просто оберните имя переменной в
            <code>{{ }}</code> и Vue сделает всё остальное!
          </p>
        </div>
      </section>

      <!-- Динамическое изменение данных -->
      <section class="section" id="data-change">
        <div class="container">
          <h2>Динамическое изменение данных</h2>
          <p class="note">
            <strong>Динамическое изменение данных во Vue</strong> происходит через <b>события</b> и <b>методы</b>, которые изменяют значения переменных в <code>data()</code>. Когда переменные меняются, Vue автоматически обновляет все связанные элементы в шаблоне.
          </p>

          <p class="note note--info">
            <strong>События</strong> — по английски <b>"events"</b>, действия пользователя (клики, ввод текста и т.д.).
            <br>
            <strong>Методы</strong> — по-английски <b>"methods"</b>, функции, которые выполняют логику изменения данных (например, обработчики событий).
          </p>

          <h4>Пример:</h4>
          <p>В этом примере при клике на кнопку изменяется значение переменной <code>message</code>, и Vue обновляет текст на странице.</p>
          <div class="code-block">
            <pre><code>&lt;div id="app"&gt;
  &lt;p&gt;{{ message }}&lt;/p&gt;
  &lt;button @click="message = 'Ты нажал на кнопку!'"&gt;Нажми меня&lt;/button&gt;
&lt;/div&gt;

&lt;script&gt;
  Vue.createApp({
    data() {
      return {
        message: "Привет, Vue!"
      };
    }
  }).mount("#app");
&lt;/script&gt;</code></pre>
          </div>

          <h5>Объяснение кода:</h5>
          <ul class="list-ul">
            <li>В HTML есть параграф, который выводит значение <code>message</code></li>
            <li>Есть кнопка с обработчиком события <code>@click</code>, который изменяет <code>message</code> при клике</li>
            <li>Когда пользователь нажимает кнопку, значение <code>message</code> меняется, и Vue автоматически обновляет текст в параграфе</li>
          </ul>
          <h4>Какие здесь используются методы и события:</h4>
          <ul class="list-ul">
            <li><strong>Событие:</strong> <code>@click</code> — срабатывает при клике на кнопку</li>
            <li><strong>Метод:</strong> присвоение нового значения переменной <code>message = 'Ты нажал на кнопку!'</code></li>
          </ul>
          <!-- Вывод: -->
          <p class="note note--info">
            🚀
            <strong>Динамическое изменение данных</strong>
            — просто изменяйте переменные в
            <code>data()</code> через события и методы, и Vue обновит интерфейс автоматически!
          </p>
        </div>
      </section>

      <!-- Советы -->
      <section class="section" id="tips">
        <div class="container">
          <h2>Советы и типичные ошибки</h2>
          <p class="note">
            <strong>Советы по работе с <code>data()</code> во Vue</strong> помогут избежать распространённых ошибок и улучшить понимание реактивности.
          </p>
          <h4>Основные советы:</h4>
          <ul class="list-ul">
            <li>Всегда объявляйте все переменные, которые планируете использовать в шаблоне, внутри <code>data()</code></li>
            <li>Используйте методы для изменения данных, чтобы сохранить реактивность</li>
            <li>Не изменяйте данные напрямую вне Vue (например, через обычный JavaScript), иначе Vue не сможет отследить изменения</li>
            <li>Для сложных структур данных (объекты, массивы) используйте Vue методы для обновления (например, <code>Vue.set()</code> или методы массива)</li>
            <li>Проверяйте консоль на наличие предупреждений Vue о реактивности</li>
          </ul>
          <div class="note note--info">
            <b>Частая ошибка:</b> Если вы добавляете новые свойства к объекту, объявленному в <code>data()</code>, используйте <code>Vue.set()</code> или создайте новый объект, чтобы Vue мог отследить изменения!

          </div>
        </div>
      </section>

      <!-- Лучшие практики -->
      <section class="section" id="best-practices">
        <div class="container">
          <h2>Лучшие практики</h2>
          <ul class="list-ul">
            <li>
              Храните все данные приложения в
              <code>data()</code>
            </li>
            <li>
              Структурируйте
              <code>data()</code>
              — группируйте схожие переменные
            </li>
            <li>
              Меняйте данные только через
              <code>data()</code>
              — так Vue сможет их отслеживать
            </li>
            <li>
              Используйте шаблон
              <code>{{ }}</code>
              для вывода переменных
            </li>
            <li>
              Для работы с формами применяйте
              <code>v-model</code>
              — это удобно и надёжно
            </li>
          </ul>
          <div class="note note--info">
            <b>Vue делает работу с данными простой и быстрой — изменяйте переменные, а интерфейс обновится сам!</b>
          </div>
        </div>
      </section>

      <!-- Реальные примеры работы с данными через data() во Vue -->
      <section class="section" id="examples">
        <div class="container">
          <h2>Реальные примеры использования data() во Vue</h2>

          <!-- Пример 1: Интерактивный заголовок -->
          <h3>Пример 1. Интерактивный заголовок</h3>
          <p class="note">
            Заголовок изменяется в реальном времени при вводе текста в поле ввода, данные хранятся в
            <code>data()</code>
            . Это пример на тему реактивности Vue и двустороннего связывания данных.
          </p>

          <div class="interactive-demo">
            <div id="reactive-title-demo">
              <input type="text" v-model="title" placeholder="Введите заголовок" />
              <h2>{{ title }}</h2>
            </div>
          </div>
          <h4>Код примера:</h4>
          <div class="code-block">
            <pre><code>&lt;input type="text" v-model="title" placeholder="Введите заголовок"&gt;
&lt;h2&gt;{{ title }}&lt;/h2&gt;
data() { return { title: "" } }</code></pre>
          </div>
          <h5>Пояснение к примеру:</h5>
          <ul class="list-ul">
            <li>Поле ввода связано с переменной <code>title</code> через <code>v-model</code></li>
            <li>Заголовок отображает текущее значение <code>title</code> с помощью интерполяции</li>
            <li>При вводе текста в поле значение <code>title</code> обновляется, и заголовок меняется в реальном времени</li>
          </ul>



          <!-- Пример 2: Счётчик -->
          <h3 style="margin-top: 50px;">Пример 2. Реактивный счётчик</h3>
          <p class="note">Простой счётчик, который увеличивается и уменьшается по нажатию кнопок. Значение счётчика хранится в <code>data()</code>
            , и интерфейс обновляется автоматически при изменении. Используется реактивность Vue для мгновенного отображения изменений.
          </p>
          <div class="interactive-demo">
            <div id="counter-demo">
              <p>Счётчик: {{ count }}</p>
              <button @click="count++" style="margin: 0 10px 0  0;">+1</button>
              <button @click="count--">-1</button>
            </div>

          </div>
          <h4>Код примера:</h4>
          <div class="code-block">
            <pre><code>&lt;p&gt;Счётчик: {{ count }}&lt;/p&gt;
&lt;button @click="count++"&gt;+1&lt;/button&gt;
&lt;button @click="count--"&gt;-1&lt;/button&gt;
data() { return { count: 0 } }</code></pre>
          </div>
          <h5>Пояснение к примеру:</h5>
          <ul class="list-ul">
            <li>Переменная <code>count</code> объявлена в <code>data()</code> с начальным значением 0</li>
            <li>Две кнопки с обработчиками событий <code>@click</code> увеличивают и уменьшают значение <code>count</code></li>
            <li>Текущее значение <code>count</code> отображается в параграфе с помощью интерполяции</li>
            <li>При нажатии на кнопки значение <code>count</code> изменяется, и Vue автоматически обновляет отображение счётчика</li>
          </ul>

          <!-- Пример 3: Список задач -->
          <h3>Пример 3. Список задач с добавлением</h3>
          <p class="note">
            Простой список задач, где можно добавлять новые задачи через поле ввода. Все задачи хранятся в массиве в
            <code>data()</code>
            , и интерфейс обновляется автоматически при добавлении новых задач. Демонстрирует работу с массивами и реактивность Vue.
          </p>

          <div class="interactive-demo">
            <div id="todo-demo">
              <input type="text" v-model="newTask" placeholder="Новая задача" />
              <button @click="addTask">Добавить</button>
              <ul>
                <li v-for="task in tasks" :key="task">{{ task }}</li>
              </ul>
            </div>
          </div>
          <h4>Код примера:</h4>
          <div class="code-block">
            <pre><code>&lt;input type="text" v-model="newTask" placeholder="Новая задача"&gt;
&lt;button @click="addTask"&gt;Добавить&lt;/button&gt;
&lt;ul&gt;
  &lt;li v-for="task in tasks" :key="task"&gt;{{ task }}&lt;/li&gt;
&lt;/ul&gt;
data() { return { tasks: [], newTask: "" } }
methods: {
  addTask() { if (this.newTask) { this.tasks.push(this.newTask); this.newTask = ""; } }
}</code></pre>
          </div>
          <h5>Пояснение к примеру:</h5>
          <ul class="list-ul">
            <li>Массив <code>tasks</code> хранит список задач, объявлен в <code>data()</code>, со значением по умолчанию пустой массив</li>
            <li>Переменная <code>newTask</code>  хранит текст новой задачи, также объявлена в <code>data()</code></li>
            <li>Переменная <code>newTask</code> связана с полем ввода через <code>v-model</code></li>
            <li>Кнопка вызывает метод <code>addTask</code>, который добавляет новую задачу в массив и очищает поле ввода</li>
            <li>метод <code>addTask</code> это функция, которая проверяет, что <code>newTask</code> не пустая, добавляет её в массив <code>tasks</code> и сбрасывает <code>newTask</code> в пустую строку</li>
            <li>Список задач отображается с помощью <code>v-for</code>, который перебирает массив <code>tasks</code></li>
          </ul>


        </div>
      </section>
    </main>
    <footer>
  <a href="#" class="back-to-top">Наверх ↑</a>
</footer>

  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    // Пример 1: Интерактивный заголовок
    Vue.createApp({
      data() {
        return {
          title: ""
        };
      },
    }).mount("#reactive-title-demo");

    // Пример 2: Счётчик
    Vue.createApp({
      data() {
        return {
          count: 0
        };
      },
    }).mount("#counter-demo");

    // Пример 3: Список задач
    Vue.createApp({
      data() {
        return {
          tasks: [],
          newTask: ""
        };
      },
      methods: {
        addTask() {
          if (this.newTask) {
            this.tasks.push(this.newTask);
            this.newTask = "";
          }
        },
      },
    }).mount("#todo-demo");
  </script>
</body>

</html>