<!DOCTYPE html>
<html lang="ru">
<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Двустороннее связывание данных во Vue</title>
  <meta name="description" content="Как использовать v-model для синхронизации данных и формы: поля ввода, чекбоксы, радио-кнопки, select" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic" rel="stylesheet" />

  <!-- Подключение Highlight.js для подсветки синтаксиса -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
  <script>
    hljs.highlightAll();
  </script>
  <script type="module" crossorigin src="/assets/main-Ias32l34.js"></script>
  <link rel="stylesheet" crossorigin href="/assets/main-DBoOD-eQ.css">
</head>

<head>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
  <div class="wrapper">
    <header>
  <div class="container">
    <div class="menu-toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

    <div class="header-menu">
      <!-- Меню -->
      <nav class="nav">
        <ul class="nav-list">
          <!-- Главная -->
          <li class="nav-item">
            <a class="nav-link" href="/index.html">Главная</a>
          </li>

          <!-- html -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">HTML</a>

            <div class="subnav-list subnav-two-columns">
              <div class="subnav-column">
                <!-- Основы HTML -->
                <div class="subnav-group">
                  <div class="subnav-heading">Основы HTML</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/start-html.html">Введение в HTML</a></li>
                    <li><a class="subnav-link" href="/about-html/tags-html.html">Теги HTML</a></li>
                    <li><a class="subnav-link" href="/about-html/basic-tags.html">Теги базовые</a></li>
                    <li><a class="subnav-link" href="/about-html/formatting-tags.html">Теги форматирования</a></li>
                    <li><a class="subnav-link" href="/about-html/style-tags.html">Теги стилей</a></li>
                    <li><a class="subnav-link" href="/about-html/attributes-html.html">Атрибуты</a></li>
                    <li><a class="subnav-link" href="/about-html/simbol-html.html">Символы и сущности</a></li>
                  </ul>
                </div>

                <!-- Семантика и структура -->
                <div class="subnav-group">
                  <div class="subnav-heading">Семантика и структура</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/semantic-tags-html.html">Семантические теги</a></li>
                    <li><a class="subnav-link" href="/about-html/nosemantic-tags.html">Теги &lt;div&gt; и &lt;span&gt;</a></li>
                    <li><a class="subnav-link" href="/about-html/meta-tags.html">Метаданные и SEO</a></li>
                  </ul>
                </div>

                <!-- Формы и взаимодействие -->
                <div class="subnav-group">
                  <div class="subnav-heading">Формы и ввод данных</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/form-html.html">Формы</a></li>
                    <li><a class="subnav-link" href="/about-html/input-html.html">Элементы ввода</a></li>
                    <li><a class="subnav-link" href="/about-html/validation-html.html">Валидация форм</a></li>
                  </ul>
                </div>

                <!-- Списки и таблицы -->
                <div class="subnav-group">
                  <div class="subnav-heading">Списки и таблицы</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/list-html.html">Списки</a></li>
                    <li><a class="subnav-link" href="/about-html/table-html.html">Таблицы</a></li>
                  </ul>
                </div>
              </div>

              <div class="subnav-column">
                <!-- Мультимедиа и графика -->
                <div class="subnav-group">
                  <div class="subnav-heading">Мультимедиа и графика</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/media-html.html">Мультимедиа</a></li>
                    <li><a class="subnav-link" href="/about-html/image-html.html">Изображения</a></li>
                    <li><a class="subnav-link" href="/about-html/svg-html.html">SVG и Canvas</a></li>
                  </ul>
                </div>

                <!-- Навигация и ссылки -->
                <div class="subnav-group">
                  <div class="subnav-heading">Навигация и ссылки</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/link-html.html">Ссылки</a></li>
                    <li><a class="subnav-link" href="/about-html/menu-html.html">Меню и навигация</a></li>
                    <li><a class="subnav-link" href="/about-html/anchor-html.html">Якоря и переходы</a></li>
                  </ul>
                </div>

                <!-- Форматирование текста -->
                <div class="subnav-group">
                  <div class="subnav-heading">Форматирование текста</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/text-html.html">Текст и заголовки</a></li>
                    <li><a class="subnav-link" href="/about-html/formatting-html.html">Теги форматирования</a></li>
                  </ul>
                </div>

                <!-- Примеры и шаблоны -->
                <div class="subnav-group">
                  <div class="subnav-heading">Примеры и шаблоны</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/lending-html.html">Lending</a></li>
                    <li><a class="subnav-link" href="/about-html/template-html.html">Шаблоны HTML</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- css -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">CSS</a>
            <div class="subnav-list subnav-two-columns">
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Основы CSS</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/start-css.html">Основы CSS</a></li>
                    <li><a class="subnav-link" href="/about-css/cascading-css.html">Каскадность</a></li>
                    <li><a class="subnav-link" href="/about-css/selector-css.html">Селекторы</a></li>
                    <li><a class="subnav-link" href="/about-css/pseudo-classes.html">Псевдоклассы</a></li>
                    <li><a class="subnav-link" href="/about-css/pseudo-elements.html">Псевдоэлементы</a></li>
                    <li><a class="subnav-link" href="/about-css/colors.html">Цвета</a></li>
                    <li><a class="subnav-link" href="/about-css/text-align.html">Выравнивание текста</a></li>
                  </ul>
                </div>

                <div class="subnav-group">
                  <div class="subnav-heading">Работа со шрифтом</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/font-size.html">Размер шрифта</a></li>
                    <li><a class="subnav-link" href="/about-css/font-style.html">Шрифты</a></li>
                  </ul>
                </div>

                <div class="subnav-group">
                  <div class="subnav-heading">Размеры и единицы</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/units-css.html">Единицы измерения</a></li>
                    <li><a class="subnav-link" href="/about-css/dimensions.html">Размеры</a></li>
                    <li><a class="subnav-link" href="/about-css/border.html">Border</a></li>
                    <li><a class="subnav-link" href="/about-css/spacing.html">Отступы</a></li>
                    <li><a class="subnav-link" href="/about-css/overflow.html">Overflow</a></li>
                  </ul>
                </div>
              </div>

              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Макеты и сетки</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/layout.html">Макеты</a></li>
                    <li><a class="subnav-link" href="/about-css/flexbox.html">Flexbox</a></li>
                    <li><a class="subnav-link" href="/about-css/grid.html">Grid</a></li>
                    <li><a class="subnav-link" href="/about-css/flex-grid.html">Flex-grid</a></li>
                    <li><a class="subnav-link" href="/about-css/position.html">Position</a></li>
                  </ul>
                </div>

                <div class="subnav-group">
                  <div class="subnav-heading">Фон, медиа и эффекты</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/background.html">Background</a></li>
                    <li><a class="subnav-link" href="/about-css/media.html">Media</a></li>
                    <li><a class="subnav-link" href="/about-css/animation.html">Animation</a></li>
                    <li><a class="subnav-link" href="/about-css/movie-site.html">Movie-site</a></li>
                  </ul>
                </div>

                <div class="subnav-group">
                  <div class="subnav-heading">Элементы и таблицы</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/button.html">Кнопки</a></li>
                    <li><a class="subnav-link" href="/about-css/table-css.html">Таблицы</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- scss -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">SCSS</a>
            <ul class="subnav-list">
              <li><a class="subnav-link" href="/about-scss/start-scss.html">Основы scss</a></li>
              <li><a class="subnav-link" href="/about-scss/variables-scss.html">Переменные</a></li>
            </ul>
          </li>

          <!-- Теория JS -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">Теория JS</a>
            <div class="subnav-list subnav-three-columns">
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Основы JS</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/intro-to-javascript.html">Введение в JS</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/javascript-fundamentals.html">Основы JS</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/variables-in-javascript.html">Переменные</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/data-types-in-javascript.html">Типы данных</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/strict-mode-in-javascript.html">Strict mode</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/type-conversion-in-javascript.html">Преобразование типов</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/user-interaction-in-javascript.html">Взаимодействие</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Операторы</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/basic-operators-and-math.html">Базовые операторы</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/math-operators.html">Math операторы</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/comparison-operators.html">Сравнение</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/logical-operators.html">Логические операторы</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/nullish-coalescing-and-assignment-operators.html">Нулевое слияние</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Управление потоком</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/conditional-statements.html">Условия</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/switch-statement.html">Switch</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/while-and-for-loops.html">Циклы</a></li>
                  </ul>
                </div>
              </div>
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Функции</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/functions-in-javascript.html">Функции</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/arrow-functions.html">Arrow functions</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/closures.html">Замыкания</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Данные</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/arrays-basics.html">Массивы</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/array-methods.html">Методы массивов</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/objects-basics.html">Объекты</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/object-methods-this.html">Методы и this</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Асинхронность</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/async-await.html">Async/Await</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/api.html">API</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/modules-es.html">ES Modules</a></li>
                  </ul>
                </div>
              </div>
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">DOM</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/dom-basics.html">Основы DOM</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/dom-selection.html">Выбор элементов</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/dom-manipulation.html">Манипуляции DOM</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/dom-events.html">События</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/dom-timers.html">Таймеры</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/manipulation-classlist.html">classList</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- Практика JS -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">Практика JS</a>
            <ul class="subnav-list">
              <li><a class="subnav-link" href="/about-js-praktika/data-types.html">Типы данных</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/conditional.html">Условия</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/operators.html">Операторы</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/functions-in-javascript.html">Функции</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/praktika-arrow-functions.html">Arrow functions</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/closures.html">Замыкания</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/objects.html">Объекты</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/dom.html">DOM</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/execution-context.html">Контекст выполнения</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/example.html">Примеры</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/to-do-list.html">To-Do List</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/random-user-from-api.html">Random User API</a></li>
            </ul>
          </li>

          <!-- Дизайн -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">Дизайн</a>
            <ul class="subnav-list">
              <li><a class="subnav-link" href="/about-design/design-basic.html">Основы дизайна</a></li>
              <li><a class="subnav-link" href="/about-design/bazovie-printsipi-dizaina.html">Принципы дизайна</a></li>
              <li><a class="subnav-link" href="/about-design/design-color.html">Цвет</a></li>
              <li><a class="subnav-link" href="/about-design/typography.html">Типографика</a></li>
              <li><a class="subnav-link" href="/about-design/font-character.html">Шрифт</a></li>
              <li><a class="subnav-link" href="/about-design/stili-v-graficheskom-dizayne.html">Стили в дизайне</a></li>
              <li><a class="subnav-link" href="/about-design/rabota-s-grafikoy.html">Работа с графикой</a></li>
              <li><a class="subnav-link" href="/about-design/prakticheskie-chek-listy-instrumenty.html">Чек-листы и инструменты</a></li>
              <li><a class="subnav-link" href="/about-design/bonusal-materialy.html">Бонусные материалы</a></li>
            </ul>
          </li>

          <!-- vscode -->
          <li class="nav-item">
            <a class="nav-link" href="/vscode.html">vscode</a>
          </li>

          <!-- Vue js -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">Vue js</a>
            <div class="subnav-list subnav-three-columns">
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Основы Vue</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/vue-installation.html">Установка</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-data.html">Данные и реактивность</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-templates-directives.html">Шаблоны и директивы</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-events.html">События</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-methods.html">Методы</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-cycles-conditions.html">Циклы и условия</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-v-model.html">v-model</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Компоненты</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/components-vue-intro.html">Введение</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-props.html">Props</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-emits.html">Emits</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-slots.html">Slots</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-structure.html">Структура</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-reactivity.html">Реактивность</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-scoped.html">Scoped стили</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-dynamic-components.html">Динамические</a></li>
                  </ul>
                </div>
              </div>
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Router</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/router-intro.html">Введение в Router</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-dynamic.html">Динамические маршруты</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-nested-routes.html">Вложенные маршруты</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-guards.html">Navigation Guards</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-programmatic-navigation.html">Программная навигация</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-errors.html">Обработка ошибок</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-state.html">State</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Vuex</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/vuex-intro.html">Введение в Vuex</a></li>
                    <li><a class="subnav-link" href="/about-vue/vuex-state-getters.html">State и Getters</a></li>
                    <li><a class="subnav-link" href="/about-vue/vuex-modules.html">Modules</a></li>
                    <li><a class="subnav-link" href="/about-vue/vuex-reactivity.html">Реактивность Vuex</a></li>
                    <li><a class="subnav-link" href="/about-vue/vuex-helpers.html">Хелперы Vuex</a></li>
                  </ul>
                </div>
              </div>
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">API</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/api-intro.html">Введение в API</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-fetch.html">Fetch API</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-fetch-vue.html">Fetch во Vue</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-fetch-vuex-store.html">Fetch + Vuex Store</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-json-server.html">JSON Server</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-async-data-handling.html">Асинхронные данные</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-auth-tokens.html">Авторизация токены</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Шпаргалки и практика</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/brief-vue-basics.html">Шпаргалка: основы</a></li>
                    <li><a class="subnav-link" href="/about-vue/brief-components-vue.html">Шпаргалка: компоненты</a></li>
                    <li><a class="subnav-link" href="/about-vue/brief-router.html">Шпаргалка: роутер</a></li>
                    <li><a class="subnav-link" href="/about-vue/brief-vuex.html">Шпаргалка: Vuex</a></li>
                    <li><a class="subnav-link" href="/about-vue/brief-api-vue.html">Шпаргалка: API</a></li>
                    <li><a class="subnav-link" href="/about-vue/practice-vue-intro.html">Практика: введение</a></li>
                    <li><a class="subnav-link" href="/about-vue/practice-components-vue.html">Практика: компоненты</a></li>
                    <li><a class="subnav-link" href="/about-vue/practice-shopping-list-vue.html">Практика: список покупок</a></li>
                    <li><a class="subnav-link" href="/about-vue/practice-quotes-day.html">Практика: цитаты дня</a></li>
                    <li><a class="subnav-link" href="/about-vue/practice-portfolio-vue-practice.html">Практика: портфолио</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- React js -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">React js</a>
            <div class="subnav-list subnav-three-columns">
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Установка и основы</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-react/react-installation.html">Установка</a></li>
                    <li><a class="subnav-link" href="/about-react/react-setup.html">Настройка</a></li>
                    <li><a class="subnav-link" href="/about-react/react-basics.html">Основы JSX</a></li>
                    <li><a class="subnav-link" href="/about-react/react-basics-all.html">Основы: кратко</a></li>
                    <li><a class="subnav-link" href="/about-react/react-structure.html">Структура</a></li>
                    <li><a class="subnav-link" href="/about-react/react-data-basics.html">Данные</a></li>
                    <li><a class="subnav-link" href="/about-react/react-events-basics.html">События</a></li>
                    <li><a class="subnav-link" href="/about-react/react-methods.html">Методы</a></li>
                    <li><a class="subnav-link" href="/about-react/react-hooks.html">Hooks</a></li>
                  </ul>
                </div>
              </div>
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Компоненты</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-react/react-components.html">Компоненты</a></li>
                    <li><a class="subnav-link" href="/about-react/react-components-all.html">Компоненты: кратко</a></li>
                    <li><a class="subnav-link" href="/about-react/props-page.html">Props</a></li>
                    <li><a class="subnav-link" href="/about-react/react-children.html">Children</a></li>
                    <li><a class="subnav-link" href="/about-react/react-emits.html">Callbacks и Events</a></li>
                    <li><a class="subnav-link" href="/about-react/react-dynamic-components.html">Динамические</a></li>
                    <li><a class="subnav-link" href="/about-react/react-cycles-conditions.html">Циклы и условия</a></li>
                    <li><a class="subnav-link" href="/about-react/react-controlled-inputs.html">Контролируемые инпуты</a></li>
                    <li><a class="subnav-link" href="/about-react/react-forms.html">Формы</a></li>
                  </ul>
                </div>
              </div>
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Продвинутый уровень</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-react/react-context.html">Context</a></li>
                    <li><a class="subnav-link" href="/about-react/react-memo.html">Memo</a></li>
                    <li><a class="subnav-link" href="/about-react/react-useReducer.html">useReducer</a></li>
                    <li><a class="subnav-link" href="/about-react/react-redux.html">Redux</a></li>
                    <li><a class="subnav-link" href="/about-react/react-fetch-api.html">Fetch API</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Router</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-react/router-react-intro.html">Введение в Router</a></li>
                    <li><a class="subnav-link" href="/about-react/react-router-dynamic.html">Динамические маршруты</a></li>
                    <li><a class="subnav-link" href="/about-react/react-router-nested.html">Вложенные маршруты</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
    <main class="page">
      <nav class="nav-tabs">
        <a href="#intro">Введение</a>
        <a href="#text-input">Текстовые поля</a>
        <a href="#checkbox">Чекбоксы</a>
        <a href="#radio">Радио-кнопки</a>
        <a href="#select">Выпадающие списки</a>
        <a href="#compare">Сравнение с @input</a>
        <a href="#tips">Советы</a>
        <a href="#practice">Практика</a>
        <a href="#examples">Примеры</a>
      </nav>

      <!-- Введение -->
      <section class="section" id="intro">
        <div class="container">
          <h1>v-model</h1>
          <p class="note">
            <strong>v-model</strong>
            — директива Vue для двустороннего связывания данных и формы.
          </p>
          <p>С помощью v-model вы можете легко синхронизировать данные и элементы формы:</p>

          <h4>Для чего используется:</h4>
          <ul class="list-ul">
            <li>Автоматическое обновление переменных при вводе в <b>текстовые поля</b>, то есть <code>&lt;input type="text"&gt;</code></li>
            <li>Связывание состояния <b>чекбоксов</b> то есть <code>&lt;input type="checkbox"&gt;</code></li>
            <li>Привязка выбранной опции в группе <b>радио-кнопок</b> то есть <code>&lt;input type="radio"&gt;</code></li>
            <li>Привязка выбранных значаний в выпадающих списках к данным <b>select</b> то есть <code>&lt;select&gt;</code></li>
          </ul>
          <div class="note note--info">
            Использование
            <code>v-model</code>
            значительно упрощает работу с формами во Vue!
          </div>
        </div>
      </section>

      <!-- Текстовые поля -->
      <section class="section" id="text-input">
        <div class="container">
          <h2>Текстовые поля и <b>v-model</b></h2>
          <p class="note">
            <strong>v-model для текстовых полей</strong> - автоматически связывает значение поля с переменной. С помощью этого вы можете легко получать и обновлять текстовые данные в вашем приложении Vue.
          </p>
          <p>❌ Без v-model нужно вручную обрабатывать событие <code>@input</code>:
            <br>

            <code>&lt;input type="text" @input="message = $event.target.value"&gt;</code>
          </p>
          <p>✅ А теперь гораздо проще: <br>
            <code>&lt;input type="text" v-model="message"&gt;</code>

          </p>
          <h4>Интерактивный пример:</h4>
          <p>Попробуйте ввести текст в поле ниже:</p>
          <div class="interactive-demo">
            <div id="app">
              <input type="text" v-model="name" placeholder="Введите ваше имя">
              <p>Привет, {{ name }}!</p>
            </div>
            <script>
              Vue.createApp({
                data() {
                  return {
                    name: ""
                  }
                }
              }).mount("#app");
            </script>
          </div>
          <h4>Пример кода:</h4>
          <div class="code-block">
            <pre><code>&lt;div id="app"&gt;
  &lt;input type="text" v-model="name"&gt;
  &lt;p&gt;Привет, {{ name }}!&lt;/p&gt;
&lt;/div&gt;

&lt;script&gt;
  Vue.createApp({
    data() {
      return { name: "" }
    }
  }).mount("#app");
&lt;/script&gt;</code></pre>
          </div>
          <h5>Объяснение кода:</h5>
          <ul class="list-ul">
            <li>v-model связывает поле ввода с переменной <code>name</code> в <code>data()</code></li>
            <li>При вводе текста в поле, значение <code>name</code> автоматически обновляется</li>
            <li>Вывод <code>{{ name }}</code> мгновенно показывает текущее значение</li>
          </ul>
          <div class="note note--info">🚀 <strong>Результат:</strong> при вводе текста в поле, переменная <code>name</code> обновляется автоматически, и приветствие меняется мгновенно!</div>
        </div>
      </section>

      <!-- Чекбоксы -->
      <section class="section" id="checkbox">
        <div class="container">
          <h2>Чекбоксы и <b>v-model</b></h2>
          <p><b>Чекбоксы</b> позволяют пользователям выбирать или снимать выбор с опций. С помощью <code>v-model</code> вы можете легко связать состояние чекбокса с булевой переменной в вашем приложении Vue.</p>
          <div class="note note--info">
            <strong>v-model для чекбоксов</strong> - автоматически обновляет переменную в зависимости от состояния чекбокса (отмечен/не отмечен).
          </div>
          <h4>Интерактивный пример:</h4>
          <p>Попробуйте отметить или снять отметку с чекбокса ниже:</p>
          <div class="interactive-demo">
            <div id="checkbox-app">
              <div style="display: flex; align-items: center; gap: 8px;">
                <!--  Чекбокс с v-model -->
                <input type="checkbox" v-model="isChecked">
                <!--  Метка для чекбокса -->
                Я согласен с условиями
              </div>
              <!--  Вывод состояния чекбокса -->
              <p>Согласие: <b>{{ isChecked }}</b></p>
            </div>
            <script>
              Vue.createApp({
                data() {
                  return {
                    isChecked: false
                  }
                }
              }).mount("#checkbox-app");
            </script>
          </div>
          <h4>Пример кода:</h4>
          <div class="code-block">
            <pre><code>&lt;input type="checkbox" v-model="isChecked"&gt;
&lt;p&gt;Согласие: {{ isChecked }}&lt;/p&gt;

data() {
  return { isChecked: false }
}</code></pre>
          </div>
          <h5>Объяснение кода:</h5>
          <ul class="list-ul">
            <li>v-model связывает чекбокс с переменной <code>isChecked</code> в <code>data()</code></li>
            <li>Когда чекбокс отмечен, <code>isChecked</code> становится <code>true</code>, иначе <code>false</code></li>
            <li>Вывод <code>{{ isChecked }}</code> показывает текущее состояние чекбокса</li>
          </ul>
          <div class="note note--info">🚀 <strong>Результат:</strong> при отмечании или снятии отметки с чекбокса, переменная <code>isChecked</code> обновляется автоматически, и состояние чекбокса отображается мгновенно!</div>
        </div>
      </section>

      <!-- Радио-кнопки -->
      <section class="section" id="radio">
        <div class="container">
          <h2>Радио-кнопки и <b>v-model</b></h2>
          <p class="note note--info"><strong>Радио-кнопки</strong> позволяют пользователям выбирать одну опцию из группы. С помощью <code>v-model</code> вы можете легко связать выбранную опцию с переменной в вашем приложении Vue.</p>

          <h4>Интерактивный пример:</h4>
          <p>Попробуйте выбрать одну из опций ниже:</p>
          <div class="interactive-demo">
            <div id="radio-app">
              <div class="box-radio">
                <div class="item-radio"><input type="radio" v-model="selectedOption" value="option1"> Опция 1</div>
                <div class="item-radio"><input type="radio" v-model="selectedOption" value="option2"> Опция 2</div>
              </div>
              <p>Выбрано: <b>{{ selectedOption }}</b></p>
            </div>
            <script>
              Vue.createApp({
                data() {
                  return {
                    selectedOption: ""
                  }
                }
              }).mount("#radio-app");
            </script>
          </div>

          <h4>Пример кода:</h4>
          <div class="code-block">
            <pre><code>&lt;input type="radio" v-model="selectedOption" value="option1"&gt; Опция 1
&lt;input type="radio" v-model="selectedOption" value="option2"&gt; Опция 2
&lt;p&gt;Выбрано: {{ selectedOption }}&lt;/p&gt;

data() {
  return { selectedOption: "" }
}</code></pre>
          </div>

          <h5>Объяснение кода:</h5>
          <ul class="list-ul">
            <li>v-model связывает группу радио-кнопок с переменной <code>selectedOption</code> в <code>data()</code></li>
            <li>При выборе опции, <code>selectedOption</code> обновляется значением выбранной радио-кнопки</li>
            <li>Вывод <code>{{ selectedOption }}</code> показывает текущий выбор пользователя</li>
          </ul>
          <div class="note note--info">🚀 <strong>Результат:</strong> при выборе одной из радио-кнопок, переменная <code>selectedOption</code> обновляется автоматически, и текущий выбор отображается мгновенно!</div>
        </div>
      </section>

      <!-- Выпадающие списки -->
      <section class="section" id="select">
        <div class="container">
          <h2>Выпадающие списки и <b>v-model</b></h2>
          <p class="note note--info"><strong>Выпадающие списки</strong> позволяют пользователям выбирать одну или несколько опций из списка. С помощью <code>v-model</code> вы можете легко связать выбранные опции с переменной в вашем приложении Vue.</p>

          <h4>Интерактивный пример:</h4>
          <p>Попробуйте выбрать страну из списка ниже:</p>
          <div class="interactive-demo">
            <div id="select-app">
              <select v-model="selectedCountry">
                <option value="russia">Россия</option>
                <option value="usa">США</option>
                <option value="germany">Германия</option>
              </select>
              <p>Выбрана страна: <b>{{ selectedCountry }}</b></p>
            </div>
            <script>
              Vue.createApp({
                data() {
                  return {
                    selectedCountry: ""
                  }
                }
              }).mount("#select-app");
            </script>
          </div>
          <h4>Пример кода:</h4>
          <div class="code-block">
            <pre><code>&lt;select v-model="selectedCountry"&gt;
  &lt;option value="russia"&gt;Россия&lt;/option&gt;
  &lt;option value="usa"&gt;США&lt;/option&gt;
  &lt;option value="germany"&gt;Германия&lt;/option&gt;
&lt;/select&gt;
&lt;p&gt;Выбрана страна: {{ selectedCountry }}&lt;/p&gt;

data() {
  return { selectedCountry: "" }
}</code></pre>
          </div>
        </div>
      </section>

      <!-- Сравнение с @input -->
      <section class="section" id="compare">
        <div class="container">
          <h2>Сравнение v-model с @input</h2>
          <p>Рассмотрим разницу между использованием
            <code>@input</code>
            и
            <code>v-model</code>
            для двусторонней привязки данных в Vue.</p>

          <p><strong>@input</strong> - это событие, которое срабатывает при вводе данных в поле. При использовании
            <code>@input</code>
            вам нужно вручную обновлять переменную, используя
            <code>$event.target.value</code>
            . Вот пример:</p>
          <div class="code-block">
            <pre><code>&lt;input type="text" @input="message = $event.target.value"&gt;
data() {
  return { message: "" }
}</code></pre>
          </div>
          <p>С другой стороны, <strong>v-model</strong> автоматически связывает значение поля с переменной. Вот как это выглядит:</p>
          <div class="code-block">
            <pre><code>&lt;input type="text" v-model="message"&gt;
data() {
  return { message: "" }
}</code></pre>
          </div>
          <h4>Основные отличия:</h4>
          <ul class="list-ul">
            <li><strong>v-model</strong> упрощает код, устраняя необходимость в ручном обновлении переменной.</li>
            <li>С
              <code>@input</code>
              вы должны явно указать, как обновлять переменную, что может привести к ошибкам.
            </li>
            <li>
              <strong>v-model</strong> обеспечивает более чистый и понятный синтаксис для двусторонней привязки данных.
            </li>
          </ul>
          <div class="note note--info">
            <b>Вывод:</b>
            Используйте
            <code>v-model</code>
            для двусторонней привязки данных, так как это проще и менее подвержено ошибкам по сравнению с
            <code>@input</code>
            .
          </div>



        </div>
      </section>

      <!-- Советы -->
      <section class="section" id="tips">
        <div class="container">
          <h2>Советы и типичные ошибки</h2>
          <ul class="list-ul">
            <li>
              Для двухсторонней привязки всегда используйте
              <code>v-model</code>
            </li>
            <li>
              Переменные для v-model должны быть в
              <code>data()</code>
            </li>
            <li>
              Для множественного выбора используйте
              <code>v-model</code>
              с массивом
            </li>
            <li>
              Следите за типом переменной: чекбоксы —
              <code>Boolean</code>
              , select/radio —
              <code>String</code>
            </li>
          </ul>
          <div class="note note--info">
            <b>Частая ошибка:</b>
            переменная для v-model отсутствует в
            <code>data()</code>
            — привязка не работает!
          </div>
        </div>
      </section>

      <!-- Практика -->
      <section class="section" id="practice">
        <div class="container">
          <h2>Практика: мини-форма с v-model</h2>
          <div class="interactive-demo demo-box">
            <div class="code-block">
              <pre><code>
&lt;div id="app"&gt;
  &lt;input type="text" v-model="username" placeholder="Имя"&gt;
  &lt;input type="checkbox" v-model="agreed"&gt; Согласен с правилами
  &lt;select v-model="country"&gt;
    &lt;option value="russia"&gt;Россия&lt;/option&gt;
    &lt;option value="usa"&gt;США&lt;/option&gt;
    &lt;option value="germany"&gt;Германия&lt;/option&gt;
  &lt;/select&gt;

  &lt;p&gt;Имя: {{ username }}&lt;/p&gt;
  &lt;p&gt;Согласие: {{ agreed }}&lt;/p&gt;
  &lt;p&gt;Страна: {{ country }}&lt;/p&gt;
&lt;/div&gt;

&lt;script&gt;
Vue.createApp({
  data() {
    return {
      username: "",
      agreed: false,
      country: ""
    }
  }
}).mount("#app");
&lt;/script&gt;
                                </code></pre>
              <button class="copy-btn">Скопировать</button>
            </div>
            <button class="demo-btn" onclick="alert('Попробуйте изменить поля — все данные обновятся мгновенно!')">Попробуйте у себя</button>
          </div>
          <div class="note note--info">
            <b>В этом примере:</b>
            v-model мгновенно синхронизирует данные формы и переменные!
          </div>
        </div>
      </section>

      <!-- Реальные примеры -->
      <section class="section" id="examples">
        <div class="container">
          <h2>Реальные примеры использования v-model во Vue</h2>

          <!-- Пример 1 -->
          <h4>Пример 1. Живая фильтрация списка</h4>
          <p>В этом примере мы будем фильтровать список пользователей по имени.</p>
          <div class="grid-column-100">
            <div class="example">
              <div id="filter-demo">
                <input type="text" v-model="search" placeholder="Поиск пользователя" />
                <ul>
                  <li v-for="user in filteredUsers" :key="user">{{ user }}</li>
                </ul>
              </div>
            </div>
            <pre><code>
&lt;input type="text" v-model="search" placeholder="Поиск пользователя"&gt;
&lt;ul&gt;
  &lt;li v-for="user in filteredUsers" :key="user"&gt;{{ user }}&lt;/li&gt;
&lt;/ul&gt;
                </code></pre>
            <div class="note note--info">
              <b>Пояснение:</b>
              v-model связывает поле ввода с переменной
              <code>search</code>
              , а список фильтруется на лету.
            </div>
          </div>

          <!-- Пример 2 -->
          <h4>Пример 2. Управление настройками профиля</h4>
          <p>В этом примере мы будем управлять настройками профиля пользователя с помощью v-model.</p>
          <div class="grid-column-100">
            <div class="example">
              <div id="profile-demo">
                <label>
                  Имя:
                  <input type="text" v-model="profile.name" />
                </label>
                <label>
                  Email:
                  <input type="email" v-model="profile.email" />
                </label>
                <label>
                  Уведомления:
                  <input type="checkbox" v-model="profile.notifications" />
                </label>
                <code>{{ profile }}</code>
              </div>
            </div>
            <pre><code>&lt;input type="text" v-model="profile.name"&gt;
&lt;input type="email" v-model="profile.email"&gt;
&lt;input type="checkbox" v-model="profile.notifications"&gt;</code></pre>
            <div class="note note--info">
              <b>Пояснение:</b>
              v-model работает с вложенными объектами, все изменения сразу видны.
            </div>
          </div>

          <!-- Пример 3 -->
          <h4>Пример 3. Множественный выбор в select</h4>
          <p>В этом примере мыбудем выбирать несколько языков программирования.</p>
          <div class="grid-column-100">
            <div class="example">
              <div id="multi-select-demo">
                <select v-model="selected" multiple style="width: 220px; height: 80px">
                  <option value="js">JavaScript</option>
                  <option value="vue">Vue</option>
                  <option value="react">React</option>
                </select>
                <p>Выбрано: {{ selected }}</p>
              </div>
              <pre> <code>&lt;select v-model="selected" multiple&gt;
  &lt;option value="js"&gt;JavaScript&lt;/option&gt;
  &lt;option value="vue"&gt;Vue&lt;/option&gt;
  &lt;option value="react"&gt;React&lt;/option&gt;
&lt;/select&gt;</code></pre>

              <div class="note note--info">
                <b>Пояснение:</b>
                v-model поддерживает массивы для множественного выбора!
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
  <a href="#" class="back-to-top">Наверх ↑</a>
</footer>

  </div>

  <script>
    // Пример 1: фильтрация списка
    Vue.createApp({
      data() {
        return {
          search: "",
          users: ["Аня", "Макс", "Иван", "Оля"],
        };
      },
      computed: {
        filteredUsers() {
          return this.users.filter((u) => u.toLowerCase().includes(this.search.toLowerCase()));
        },
      },
    }).mount("#filter-demo");

    // Пример 2: профиль пользователя
    Vue.createApp({
      data() {
        return {
          profile: {
            name: "",
            email: "",
            notifications: true,
          },
        };
      },
    }).mount("#profile-demo");

    // Пример 3: множественный выбор
    Vue.createApp({
      data() {
        return {
          selected: [],
        };
      },
    }).mount("#multi-select-demo");
  </script>
</body>

</html>