<!DOCTYPE html>
<html lang="ru">
<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Циклы и условные конструкции во Vue</title>
  <meta name="description" content="Как использовать v-for, v-if, v-else, v-show и v-else-if для динамического и условного отображения данных" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic" rel="stylesheet" />

  <!-- Подключение Highlight.js для подсветки синтаксиса -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
  <script>
    hljs.highlightAll();
  </script>
  <script type="module" crossorigin src="/assets/main-Ias32l34.js"></script>
  <link rel="stylesheet" crossorigin href="/assets/main-DBoOD-eQ.css">
</head>

<body>
  <div class="wrapper">
    <header>
  <div class="container">
    <div class="menu-toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

    <div class="header-menu">
      <!-- Меню -->
      <nav class="nav">
        <ul class="nav-list">
          <!-- Главная -->
          <li class="nav-item">
            <a class="nav-link" href="/index.html">Главная</a>
          </li>

          <!-- html -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">HTML</a>

            <div class="subnav-list subnav-two-columns">
              <div class="subnav-column">
                <!-- Основы HTML -->
                <div class="subnav-group">
                  <div class="subnav-heading">Основы HTML</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/start-html.html">Введение в HTML</a></li>
                    <li><a class="subnav-link" href="/about-html/tags-html.html">Теги HTML</a></li>
                    <li><a class="subnav-link" href="/about-html/basic-tags.html">Теги базовые</a></li>
                    <li><a class="subnav-link" href="/about-html/formatting-tags.html">Теги форматирования</a></li>
                    <li><a class="subnav-link" href="/about-html/style-tags.html">Теги стилей</a></li>
                    <li><a class="subnav-link" href="/about-html/attributes-html.html">Атрибуты</a></li>
                    <li><a class="subnav-link" href="/about-html/simbol-html.html">Символы и сущности</a></li>
                  </ul>
                </div>

                <!-- Семантика и структура -->
                <div class="subnav-group">
                  <div class="subnav-heading">Семантика и структура</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/semantic-tags-html.html">Семантические теги</a></li>
                    <li><a class="subnav-link" href="/about-html/nosemantic-tags.html">Теги &lt;div&gt; и &lt;span&gt;</a></li>
                    <li><a class="subnav-link" href="/about-html/meta-tags.html">Метаданные и SEO</a></li>
                  </ul>
                </div>

                <!-- Формы и взаимодействие -->
                <div class="subnav-group">
                  <div class="subnav-heading">Формы и ввод данных</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/form-html.html">Формы</a></li>
                    <li><a class="subnav-link" href="/about-html/input-html.html">Элементы ввода</a></li>
                    <li><a class="subnav-link" href="/about-html/validation-html.html">Валидация форм</a></li>
                  </ul>
                </div>

                <!-- Списки и таблицы -->
                <div class="subnav-group">
                  <div class="subnav-heading">Списки и таблицы</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/list-html.html">Списки</a></li>
                    <li><a class="subnav-link" href="/about-html/table-html.html">Таблицы</a></li>
                  </ul>
                </div>
              </div>

              <div class="subnav-column">
                <!-- Мультимедиа и графика -->
                <div class="subnav-group">
                  <div class="subnav-heading">Мультимедиа и графика</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/media-html.html">Мультимедиа</a></li>
                    <li><a class="subnav-link" href="/about-html/image-html.html">Изображения</a></li>
                    <li><a class="subnav-link" href="/about-html/svg-html.html">SVG и Canvas</a></li>
                  </ul>
                </div>

                <!-- Навигация и ссылки -->
                <div class="subnav-group">
                  <div class="subnav-heading">Навигация и ссылки</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/link-html.html">Ссылки</a></li>
                    <li><a class="subnav-link" href="/about-html/menu-html.html">Меню и навигация</a></li>
                    <li><a class="subnav-link" href="/about-html/anchor-html.html">Якоря и переходы</a></li>
                  </ul>
                </div>

                <!-- Форматирование текста -->
                <div class="subnav-group">
                  <div class="subnav-heading">Форматирование текста</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/text-html.html">Текст и заголовки</a></li>
                    <li><a class="subnav-link" href="/about-html/formatting-html.html">Теги форматирования</a></li>
                  </ul>
                </div>

                <!-- Примеры и шаблоны -->
                <div class="subnav-group">
                  <div class="subnav-heading">Примеры и шаблоны</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-html/lending-html.html">Lending</a></li>
                    <li><a class="subnav-link" href="/about-html/template-html.html">Шаблоны HTML</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- css -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">CSS</a>
            <div class="subnav-list subnav-two-columns">
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Основы CSS</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/start-css.html">Основы CSS</a></li>
                    <li><a class="subnav-link" href="/about-css/cascading-css.html">Каскадность</a></li>
                    <li><a class="subnav-link" href="/about-css/selector-css.html">Селекторы</a></li>
                    <li><a class="subnav-link" href="/about-css/pseudo-classes.html">Псевдоклассы</a></li>
                    <li><a class="subnav-link" href="/about-css/pseudo-elements.html">Псевдоэлементы</a></li>
                    <li><a class="subnav-link" href="/about-css/colors.html">Цвета</a></li>
                    <li><a class="subnav-link" href="/about-css/text-align.html">Выравнивание текста</a></li>
                  </ul>
                </div>

                <div class="subnav-group">
                  <div class="subnav-heading">Работа со шрифтом</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/font-size.html">Размер шрифта</a></li>
                    <li><a class="subnav-link" href="/about-css/font-style.html">Шрифты</a></li>
                  </ul>
                </div>

                <div class="subnav-group">
                  <div class="subnav-heading">Размеры и единицы</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/units-css.html">Единицы измерения</a></li>
                    <li><a class="subnav-link" href="/about-css/dimensions.html">Размеры</a></li>
                    <li><a class="subnav-link" href="/about-css/border.html">Border</a></li>
                    <li><a class="subnav-link" href="/about-css/spacing.html">Отступы</a></li>
                    <li><a class="subnav-link" href="/about-css/overflow.html">Overflow</a></li>
                  </ul>
                </div>
              </div>

              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Макеты и сетки</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/layout.html">Макеты</a></li>
                    <li><a class="subnav-link" href="/about-css/flexbox.html">Flexbox</a></li>
                    <li><a class="subnav-link" href="/about-css/grid.html">Grid</a></li>
                    <li><a class="subnav-link" href="/about-css/flex-grid.html">Flex-grid</a></li>
                    <li><a class="subnav-link" href="/about-css/position.html">Position</a></li>
                  </ul>
                </div>

                <div class="subnav-group">
                  <div class="subnav-heading">Фон, медиа и эффекты</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/background.html">Background</a></li>
                    <li><a class="subnav-link" href="/about-css/media.html">Media</a></li>
                    <li><a class="subnav-link" href="/about-css/animation.html">Animation</a></li>
                    <li><a class="subnav-link" href="/about-css/movie-site.html">Movie-site</a></li>
                  </ul>
                </div>

                <div class="subnav-group">
                  <div class="subnav-heading">Элементы и таблицы</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-css/button.html">Кнопки</a></li>
                    <li><a class="subnav-link" href="/about-css/table-css.html">Таблицы</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- scss -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">SCSS</a>
            <ul class="subnav-list">
              <li><a class="subnav-link" href="/about-scss/start-scss.html">Основы scss</a></li>
              <li><a class="subnav-link" href="/about-scss/variables-scss.html">Переменные</a></li>
            </ul>
          </li>

          <!-- Теория JS -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">Теория JS</a>
            <div class="subnav-list subnav-three-columns">
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Основы JS</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/intro-to-javascript.html">Введение в JS</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/javascript-fundamentals.html">Основы JS</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/variables-in-javascript.html">Переменные</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/data-types-in-javascript.html">Типы данных</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/strict-mode-in-javascript.html">Strict mode</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/type-conversion-in-javascript.html">Преобразование типов</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/user-interaction-in-javascript.html">Взаимодействие</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Операторы</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/basic-operators-and-math.html">Базовые операторы</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/math-operators.html">Math операторы</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/comparison-operators.html">Сравнение</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/logical-operators.html">Логические операторы</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/nullish-coalescing-and-assignment-operators.html">Нулевое слияние</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Управление потоком</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/conditional-statements.html">Условия</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/switch-statement.html">Switch</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/while-and-for-loops.html">Циклы</a></li>
                  </ul>
                </div>
              </div>
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Функции</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/functions-in-javascript.html">Функции</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/arrow-functions.html">Arrow functions</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/closures.html">Замыкания</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Данные</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/arrays-basics.html">Массивы</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/array-methods.html">Методы массивов</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/objects-basics.html">Объекты</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/object-methods-this.html">Методы и this</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Асинхронность</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/async-await.html">Async/Await</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/api.html">API</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/modules-es.html">ES Modules</a></li>
                  </ul>
                </div>
              </div>
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">DOM</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-js-teoria/dom-basics.html">Основы DOM</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/dom-selection.html">Выбор элементов</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/dom-manipulation.html">Манипуляции DOM</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/dom-events.html">События</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/dom-timers.html">Таймеры</a></li>
                    <li><a class="subnav-link" href="/about-js-teoria/manipulation-classlist.html">classList</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- Практика JS -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">Практика JS</a>
            <ul class="subnav-list">
              <li><a class="subnav-link" href="/about-js-praktika/data-types.html">Типы данных</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/conditional.html">Условия</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/operators.html">Операторы</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/functions-in-javascript.html">Функции</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/praktika-arrow-functions.html">Arrow functions</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/closures.html">Замыкания</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/objects.html">Объекты</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/dom.html">DOM</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/execution-context.html">Контекст выполнения</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/example.html">Примеры</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/to-do-list.html">To-Do List</a></li>
              <li><a class="subnav-link" href="/about-js-praktika/random-user-from-api.html">Random User API</a></li>
            </ul>
          </li>

          <!-- Дизайн -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">Дизайн</a>
            <ul class="subnav-list">
              <li><a class="subnav-link" href="/about-design/design-basic.html">Основы дизайна</a></li>
              <li><a class="subnav-link" href="/about-design/bazovie-printsipi-dizaina.html">Принципы дизайна</a></li>
              <li><a class="subnav-link" href="/about-design/design-color.html">Цвет</a></li>
              <li><a class="subnav-link" href="/about-design/typography.html">Типографика</a></li>
              <li><a class="subnav-link" href="/about-design/font-character.html">Шрифт</a></li>
              <li><a class="subnav-link" href="/about-design/stili-v-graficheskom-dizayne.html">Стили в дизайне</a></li>
              <li><a class="subnav-link" href="/about-design/rabota-s-grafikoy.html">Работа с графикой</a></li>
              <li><a class="subnav-link" href="/about-design/prakticheskie-chek-listy-instrumenty.html">Чек-листы и инструменты</a></li>
              <li><a class="subnav-link" href="/about-design/bonusal-materialy.html">Бонусные материалы</a></li>
            </ul>
          </li>

          <!-- vscode -->
          <li class="nav-item">
            <a class="nav-link" href="/vscode.html">vscode</a>
          </li>

          <!-- Vue js -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">Vue js</a>
            <div class="subnav-list subnav-three-columns">
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Основы Vue</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/vue-installation.html">Установка</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-data.html">Данные и реактивность</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-templates-directives.html">Шаблоны и директивы</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-events.html">События</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-methods.html">Методы</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-cycles-conditions.html">Циклы и условия</a></li>
                    <li><a class="subnav-link" href="/about-vue/vue-v-model.html">v-model</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Компоненты</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/components-vue-intro.html">Введение</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-props.html">Props</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-emits.html">Emits</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-slots.html">Slots</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-structure.html">Структура</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-reactivity.html">Реактивность</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-scoped.html">Scoped стили</a></li>
                    <li><a class="subnav-link" href="/about-vue/components-vue-dynamic-components.html">Динамические</a></li>
                  </ul>
                </div>
              </div>
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Router</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/router-intro.html">Введение в Router</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-dynamic.html">Динамические маршруты</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-nested-routes.html">Вложенные маршруты</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-guards.html">Navigation Guards</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-programmatic-navigation.html">Программная навигация</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-errors.html">Обработка ошибок</a></li>
                    <li><a class="subnav-link" href="/about-vue/router-state.html">State</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Vuex</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/vuex-intro.html">Введение в Vuex</a></li>
                    <li><a class="subnav-link" href="/about-vue/vuex-state-getters.html">State и Getters</a></li>
                    <li><a class="subnav-link" href="/about-vue/vuex-modules.html">Modules</a></li>
                    <li><a class="subnav-link" href="/about-vue/vuex-reactivity.html">Реактивность Vuex</a></li>
                    <li><a class="subnav-link" href="/about-vue/vuex-helpers.html">Хелперы Vuex</a></li>
                  </ul>
                </div>
              </div>
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">API</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/api-intro.html">Введение в API</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-fetch.html">Fetch API</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-fetch-vue.html">Fetch во Vue</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-fetch-vuex-store.html">Fetch + Vuex Store</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-json-server.html">JSON Server</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-async-data-handling.html">Асинхронные данные</a></li>
                    <li><a class="subnav-link" href="/about-vue/api-auth-tokens.html">Авторизация токены</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Шпаргалки и практика</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-vue/brief-vue-basics.html">Шпаргалка: основы</a></li>
                    <li><a class="subnav-link" href="/about-vue/brief-components-vue.html">Шпаргалка: компоненты</a></li>
                    <li><a class="subnav-link" href="/about-vue/brief-router.html">Шпаргалка: роутер</a></li>
                    <li><a class="subnav-link" href="/about-vue/brief-vuex.html">Шпаргалка: Vuex</a></li>
                    <li><a class="subnav-link" href="/about-vue/brief-api-vue.html">Шпаргалка: API</a></li>
                    <li><a class="subnav-link" href="/about-vue/practice-vue-intro.html">Практика: введение</a></li>
                    <li><a class="subnav-link" href="/about-vue/practice-components-vue.html">Практика: компоненты</a></li>
                    <li><a class="subnav-link" href="/about-vue/practice-shopping-list-vue.html">Практика: список покупок</a></li>
                    <li><a class="subnav-link" href="/about-vue/practice-quotes-day.html">Практика: цитаты дня</a></li>
                    <li><a class="subnav-link" href="/about-vue/practice-portfolio-vue-practice.html">Практика: портфолио</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- React js -->
          <li class="nav-item">
            <a class="nav-link submenu-toggle" href="/#">React js</a>
            <div class="subnav-list subnav-three-columns">
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Установка и основы</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-react/react-installation.html">Установка</a></li>
                    <li><a class="subnav-link" href="/about-react/react-setup.html">Настройка</a></li>
                    <li><a class="subnav-link" href="/about-react/react-basics.html">Основы JSX</a></li>
                    <li><a class="subnav-link" href="/about-react/react-basics-all.html">Основы: кратко</a></li>
                    <li><a class="subnav-link" href="/about-react/react-structure.html">Структура</a></li>
                    <li><a class="subnav-link" href="/about-react/react-data-basics.html">Данные</a></li>
                    <li><a class="subnav-link" href="/about-react/react-events-basics.html">События</a></li>
                    <li><a class="subnav-link" href="/about-react/react-methods.html">Методы</a></li>
                    <li><a class="subnav-link" href="/about-react/react-hooks.html">Hooks</a></li>
                  </ul>
                </div>
              </div>
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Компоненты</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-react/react-components.html">Компоненты</a></li>
                    <li><a class="subnav-link" href="/about-react/react-components-all.html">Компоненты: кратко</a></li>
                    <li><a class="subnav-link" href="/about-react/props-page.html">Props</a></li>
                    <li><a class="subnav-link" href="/about-react/react-children.html">Children</a></li>
                    <li><a class="subnav-link" href="/about-react/react-emits.html">Callbacks и Events</a></li>
                    <li><a class="subnav-link" href="/about-react/react-dynamic-components.html">Динамические</a></li>
                    <li><a class="subnav-link" href="/about-react/react-cycles-conditions.html">Циклы и условия</a></li>
                    <li><a class="subnav-link" href="/about-react/react-controlled-inputs.html">Контролируемые инпуты</a></li>
                    <li><a class="subnav-link" href="/about-react/react-forms.html">Формы</a></li>
                  </ul>
                </div>
              </div>
              <div class="subnav-column">
                <div class="subnav-group">
                  <div class="subnav-heading">Продвинутый уровень</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-react/react-context.html">Context</a></li>
                    <li><a class="subnav-link" href="/about-react/react-memo.html">Memo</a></li>
                    <li><a class="subnav-link" href="/about-react/react-useReducer.html">useReducer</a></li>
                    <li><a class="subnav-link" href="/about-react/react-redux.html">Redux</a></li>
                    <li><a class="subnav-link" href="/about-react/react-fetch-api.html">Fetch API</a></li>
                  </ul>
                </div>
                <div class="subnav-group">
                  <div class="subnav-heading">Router</div>
                  <ul>
                    <li><a class="subnav-link" href="/about-react/router-react-intro.html">Введение в Router</a></li>
                    <li><a class="subnav-link" href="/about-react/react-router-dynamic.html">Динамические маршруты</a></li>
                    <li><a class="subnav-link" href="/about-react/react-router-nested.html">Вложенные маршруты</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
    <main class="page">
      <nav class="nav-tabs">
        <a href="#intro">Введение</a>
        <a href="#v-for">v-for</a>
        <a href="#v-if">v-if/v-else/v-show</a>
        <a href="#v-else-if">v-else-if</a>
        <a href="#practice">Практика</a>
        <a href="#examples">Примеры</a>
      </nav>

      <!-- Введение -->
      <section class="section" id="intro">
        <div class="container">
          <h1>Циклы и условные конструкции во Vue</h1>
          <p class="note">
            <strong>Циклы и условные конструкции во Vue</strong>
            — ключевые инструменты для динамического отображения данных и управления видимостью элементов на странице.

          </p>
          <h4>Циклы и условные конструкции нужны для:</h4>
          <ul class="list-ul">
            <li>Динамического создания списков и элементов на основе данных</li>
            <li>Управления видимостью контента в зависимости от состояния приложения</li>
            <li>Создания интерактивных интерфейсов с адаптивным отображением информации</li>
          </ul>

          <h4>Основные директивы:</h4>
          <h4></h4>
          <ul class="list-ul">
            <li><strong>v-for</strong> — директива для перебора массивов и отображения элементов списка.</li>
            <li><strong>v-if</strong> — директива для условного отображения элементов на основе логических выражений.</li>
            <li><strong>v-else</strong> — директива для отображения альтернативного контента, если условие v-if не выполнено.</li>
            <li><strong>v-else-if</strong> — директива для добавления дополнительных условий к цепочке v-if/v-else.</li>
            <li><strong>v-show</strong> — директива для условного отображения элементов с помощью CSS-свойства display.</li>
          </ul>

          <!-- Вывод: -->
          <p class="note note--info">
            🚀
            Освоение циклов и условных конструкций во Vue позволит создавать динамичные и интерактивные веб-приложения с гибким управлением отображением контента.
          </p>
        </div>
      </section>

      <!-- v-for -->
      <section class="section" id="v-for">
        <div class="container">
          <h2>v-for</h2>
          <p class="note">
            <strong>v-for</strong> - директива Vue.js для перебора массивов и отображения элементов списка.
            Она позволяет динамически создавать элементы на основе данных, что делает интерфейсы более гибкими и интерактивными.
          </p>

          <h4>Базовый синтаксис:</h4>
          <div class="code-block">
            <pre><code>&lt;li v-for="item in items" :key="item.id"&gt;{{ item }}&lt;/li&gt;</code></pre>
          </div>
          <h5>Объяснение кода:</h5>
          <ul class="list-ul">
            <li><code>v-for</code> — директива для перебора массива <code>items</code>.</li>
            <li><code>item</code> — текущий элемент массива <code>items</code> в каждой итерации.</li>
            <li><code>:key</code> — уникальный идентификатор для каждого элемента, помогающий Vue эффективно обновлять DOM.</li>
            <li><code>item.id</code> — предполагается, что каждый элемент массива имеет уникальное свойство <code>id</code>.</li>
            <li><code>{{ item }}</code> — отображение текущего элемента в списке.</li>
          </ul>
          <h4>Пример:</h4>
          <p>Отобразим список пользователей с их именами и возрастом:</p>
          <div class="interactive-demo">
            <div id="users-demo">
              <ul>
                <li v-for="user in users" :key="user.id">
                  👤 {{ user.name }} (Возраст: {{ user.age }})
                </li>
              </ul>
            </div>
          </div>
          <script>
            Vue.createApp({
              data() {
                return {
                  users: [{
                      id: 1,
                      name: "Алиса",
                      age: 25
                    },
                    {
                      id: 2,
                      name: "Боб",
                      age: 30
                    },
                    {
                      id: 3,
                      name: "Чарли",
                      age: 35
                    }
                  ]
                }
              }
            }).mount("#users-demo");
          </script>
          <div class="code-block">
            <pre><code>&lt;ul&gt;
   &lt;li v-for="user in users" :key="user.id"&gt;
     👤 {{ user.name }} (Возраст: {{ user.age }})
   &lt;/li&gt;
&lt;/ul&gt;

 &lt;script&gt;
 Vue.createApp({
   data() {
     return {
       users: [
         { id: 1, name: "Алиса", age: 25 },
         { id: 2, name: "Боб", age: 30 },
         { id: 3, name: "Чарли", age: 35 }
       ]
     }
   }
 }).mount("#users-demo");
 &lt;/script&gt;</code></pre>
          </div>
          <h5>Объяснение кода:</h5>
          <ul class="list-ul">
            <li>Создаём Vue-приложение с массивом пользователей в данных.</li>
            <li>Используем <code>v-for</code> для перебора массива <code>users</code> и отображения каждого пользователя в списке.</li>
            <li>Каждому элементу списка присваиваем уникальный ключ с помощью <code>:key="user.id"</code>.</li>
          </ul>



          <h3>Нумерация элементов: v-for с индексом</h3>
          <div class="note note--info">Нумерация элементов: v-for с индексом позволяет отображать порядковый номер каждого элемента в списке.</div>
          <h4>Пример с нумерацией пользователей:</h4>
          <p>Отобразим список пользователей с их именами и порядковыми номерами:</p>
          <div class="interactive-demo">
            <div id="users-demo-indexed">
              <ul>
                <li v-for="(user, index) in users" :key="user.id">
                  {{ index + 1 }}. 👤 {{ user.name }}
                </li>
              </ul>
            </div>
          </div>
          <script>
            Vue.createApp({
              data() {
                return {
                  users: [{
                      id: 1,
                      name: "Алиса",
                      age: 25
                    },
                    {
                      id: 2,
                      name: "Боб",
                      age: 30
                    },
                    {
                      id: 3,
                      name: "Чарли",
                      age: 35
                    }
                  ]
                }
              }
            }).mount("#users-demo-indexed");
          </script>



          <div class="code-block">
            <pre><code>&lt;ul&gt;
  &lt;li v-for="(user, index) in users" :key="user.id"&gt;
    {{ index + 1 }}. 👤 {{ user.name }}
  &lt;/li&gt;
&lt;/ul&gt;</code></pre>
          </div>
          <h5>Объяснение кода:</h5>
          <ul class="list-ul">
            <li>Используем синтаксис <code>(user, index)</code> для получения текущего элемента и его индекса.</li>
            <li>Отображаем порядковый номер с помощью <code>{{ index + 1 }}</code>, так как индексация начинается с 0.</li>
          </ul>
          <!-- Вывод: -->
          <p class="note note--info">
            🚀
            <strong>v-for с индексом</strong> — удобный способ нумеровать элементы в списке при их отображении.
          </p>
        </div>
      </section>

      <!-- v-if/v-else/v-show -->
      <section class="section" id="v-if">
        <div class="container">
          <h2>Условное отображение</h2>
          <p class="note">
            <strong>v-if, v-else и v-show</strong> — директивы Vue.js для условного отображения элементов на странице.
            Они позволяют управлять видимостью контента в зависимости от состояния приложения или логических условий.
          </p>
          <h3>v-if и v-else</h3>
          <p class="note note--info">
            <strong>v-if</strong> - директива для условного отображения элемента, если выражение истинно. <br>
            <strong>v-else</strong> - директива для отображения альтернативного контента, если условие v-if ложно.
          </p>

          <h4>Различие между v-if и v-else:</h4>
          <ul class="list-ul">
            <li><code>v-if</code> проверяет условие и отображает элемент, если оно истинно.</li>
            <li><code>v-else</code> следует сразу за <code>v-if</code> и отображается, когда условие <code>v-if</code> ложно.</li>
          </ul>
          <h4>Пример:</h4>
          <p>Отобразим кнопки <b>"Войти"</b> и <b>"Выйти"</b> в зависимости от состояния авторизации пользователя:</p>

          <div class="interactive-demo">
            <div id="auth-demo">
              <button v-if="isLoggedIn">Выйти</button>
              <button v-else>Войти</button>
            </div>
          </div>
          <div class="code-block">
            <pre><code>&lt;div id="auth-demo"&gt;
  &lt;button v-if="isLoggedIn"&gt;Выйти&lt;/button&gt;
  &lt;button v-else&gt;Войти&lt;/button&gt;
&lt;/div&gt;

&lt;script&gt;
Vue.createApp({
  data() {
    return { isLoggedIn: false }
  }
}).mount("#auth-demo");
&lt;/script&gt;</code></pre>
          </div>


          <h5>Объяснение кода:</h5>
          <ul class="list-ul">
            <li>Создаём Vue-приложение с булевым состоянием <code>isLoggedIn</code>.</li>
            <li>Используем <code>v-if</code> для отображения кнопки "Выйти", если пользователь авторизован.</li>
            <li>Используем <code>v-else</code> для отображения кнопки "Войти", если пользователь не авторизован.</li>
          </ul>

          <h3>v-show</h3>
          <p class="note note--info">
            <strong>v-show</strong> - директива для условного отображения элемента с помощью CSS-свойства <code>display</code>.
            В отличие от <code>v-if</code>, элемент остаётся в DOM, но скрывается визуально.
          </p>

          <h4>Отличием между v-if и v-show:</h4>
          <ul class="list-ul">
            <li><code>v-if</code> добавляет или удаляет элемент из DOM в зависимости от условия.</li>
            <li><code>v-show</code> всегда оставляет элемент в DOM, но управляет его видимостью через CSS.</li>
          </ul>
          <h4>Пример:</h4>
          <p>Скрыть и показать текст по кнопке:</p>

          <div class="interactive-demo">
            <div id="show-demo">
              <button @click="isVisible = !isVisible">Переключить</button>
              <p v-show="isVisible">Этот текст можно скрыть!</p>
            </div>
          </div>

          <div class="code-block">
            <pre><code>&lt;div id="show-demo"&gt;
  &lt;button @click="isVisible = !isVisible"&gt;Переключить&lt;/button&gt;
  &lt;p v-show="isVisible"&gt;Этот текст можно скрыть!&lt;/p&gt;
&lt;/div&gt;

&lt;script&gt;
Vue.createApp({
  data() {
    return { isVisible: true }
  }
}).mount("#show-demo");
&lt;/script&gt;</code></pre>
          </div>
          <h5>Объяснение кода:</h5>
          <ul class="list-ul">
            <li>Создаём Vue-приложение с булевым состоянием <code>isVisible</code>.</li>
            <li>Используем <code>v-show</code> для управления видимостью текста по кнопке.</li>
            <li>Кнопка переключает значение <code>isVisible</code>, скрывая или показывая текст.</li>
          </ul>
          <div class="note note--info">
            <b>Когда использовать v-if vs v-show:</b>
            <ul class="list-ul">
              <li>Используйте <code>v-if</code>, когда условие редко меняется и важно экономить ресурсы DOM.</li>
              <li>Используйте <code>v-show</code>, когда нужно часто переключать видимость элемента без удаления из DOM.</li>
            </ul>
          </div>
      </section>

      <!-- v-else-if -->
      <section class="section" id="v-else-if">
        <div class="container">
          <h2>v-else-if: несколько условий</h2>
          <p class="note">
            <strong>v-else-if</strong> — директива Vue.js для добавления промежуточных условий между <code>v-if</code> и <code>v-else</code>.
            Она позволяет создавать цепочки условий для более сложной логики отображения элементов.
          </p>
          <h4>Пример:</h4>
          <p>Покажем разные сообщения в зависимости от роли пользователя:</p>

          <div class="interactive-demo">
            <div id="role-demo">
              <p v-if="role === 'admin'">Привет, Админ! 👑</p>
              <p v-else-if="role === 'user'">Привет, Пользователь! 👤</p>
              <p v-else>Привет, Гость! 🚪</p>
            </div>
          </div>
          <div class="code-block">
            <pre><code>&lt;div id="role-demo"&gt;
  &lt;p v-if="role === 'admin'"&gt;Привет, Админ! 👑&lt;/p&gt;
  &lt;p v-else-if="role === 'user'"&gt;Привет, Пользователь! 👤&lt;/p&gt;
  &lt;p v-else&gt;Привет, Гость! 🚪&lt;/p&gt;
&lt;/div&gt;

&lt;script&gt;
Vue.createApp({
  data() {
    return { role: "user" } // 'admin', 'user', 'guest'
  }
}).mount("#role-demo");
&lt;/script&gt;</code></pre>
          </div>
          <h5>Объяснение кода:</h5>
          <ul class="list-ul">
            <li>Создаём Vue-приложение с состоянием <code>role</code>, которое может принимать значения 'admin', 'user' или 'guest'.</li>
            <li>Используем <code>v-if</code> для отображения сообщения для администратора.</li>
            <li>Используем <code>v-else-if</code> для отображения сообщения для обычного пользователя.</li>
            <li>Используем <code>v-else</code> для отображения сообщения для гостя.</li>
          </ul>

          <!-- Вывод: -->
          <p class="note note--info">
            🚀
            <strong>v-else-if</strong> — мощный инструмент для создания сложных условий отображения в Vue.js.
          </p>
        </div>
      </section>

      <!-- Практика -->
      <section class="section" id="practice">
        <div class="container">
          <h2>Практика: переключение текста</h2>
          <div class="interactive-demo">
            <div id="toggle-demo">
              <button @click="toggleText">Переключить текст</button>
              <p v-if="isVisible">Этот текст можно скрыть!</p>
            </div>
          </div>
          <div class="code-block">
            <pre><code>&lt;div id="toggle-demo"&gt;
  &lt;button @click="toggleText"&gt;Переключить текст&lt;/button&gt;
  &lt;p v-if="isVisible"&gt;Этот текст можно скрыть!&lt;/p&gt;
&lt;/div&gt;

&lt;script&gt;
Vue.createApp({
  data() {
    return { isVisible: true }
  },
  methods: {
    toggleText() {
      this.isVisible = !this.isVisible;
    }
  }
}).mount("#toggle-demo");
&lt;/script&gt;</code></pre>
          </div>
          <h5>Объяснение кода:</h5>
          <ul class="list-ul">
            <li>Создаём Vue-приложение с булевым состоянием <code>isVisible</code>.</li>
            <li>Используем <code>v-if</code> для условного отображения текста.</li>
            <li>Метод <code>toggleText</code> переключает значение <code>isVisible</code> при нажатии кнопки.</li>
          </ul>
        </div>
      </section>

      <!-- Реальные примеры -->
      <section class="section" id="examples">
        <div class="container">
          <h2>Реальные примеры циклов и условий во Vue</h2>
          <p class="note">
            Рассмотрим несколько практических примеров использования директив <code>v-for</code>, <code>v-if</code>, <code>v-else-if</code> и <code>v-show</code> в реальных сценариях.
          </p>

          <!-- Пример 1 -->
          <h3>Пример 1. Список задач с фильтрацией</h3>
          <p class="note note--info">Фильтруем задачи по поисковому запросу:</p>
          <div class="interactive-demo">
            <div id="tasks-demo">
              <input type="text" v-model="search" placeholder="Поиск задачи" />
              <ul v-if="filteredTasks.length">
                <li v-for="task in filteredTasks" :key="task.id">{{ task.text }}</li>
              </ul>
              <p v-else>Нет задач!</p>
            </div>
          </div>

          <h4>Код:</h4>
          <div class="code-block">
            <pre><code>&lt;input type="text" v-model="search" placeholder="Поиск задачи"&gt;
&lt;ul v-if="filteredTasks.length"&gt;
  &lt;li v-for="task in filteredTasks" :key="task.id"&gt;{{ task.text }}&lt;/li&gt;
&lt;/ul&gt;
&lt;p v-else&gt;Нет задач!&lt;/p&gt;

&lt;script&gt;
Vue.createApp({
  data() {
    return {
      search: "",
      tasks: [
        { id: 1, text: "Купить хлеб" },
        { id: 2, text: "Сделать уроки" },
        { id: 3, text: "Позвонить другу" }
      ]
    }
  },
  computed: {
    filteredTasks() {
      return this.tasks.filter(t => t.text.toLowerCase().includes(this.search.toLowerCase()));
    }
  }
}).mount("#tasks-demo");
&lt;/script&gt;</code></pre>
          </div>
          <h5>Объяснение кода:</h5>
          <ul class="list-ul">
            <li>Используем <code>v-model</code> для двусторонней привязки поискового запроса.</li>
            <li>Используем <code>v-if</code> для отображения списка задач, если есть совпадения.</li>
            <li>Используем <code>v-else</code> для отображения сообщения, если нет задач.</li>
            <li>Используем <code>v-for</code> для перебора отфильтрованных задач и их отображения.</li>
          </ul>

          <!-- Пример 2 -->
          <h3 style="margin-top: 50px;">Пример 2. Галерея с v-show</h3>
          <p class="note note--info">Показываем и скрываем галерею изображений по кнопке:</p>

          <div class="interactive-demo">
            <div id="gallery-demo">
              <button @click="isOpen = !isOpen">Показать/Скрыть галерею</button>
              <div v-show="isOpen" class="gallery">
                <img v-for="img in images" :src="img" :key="img" style="width: 80px; margin: 6px" />
              </div>
            </div>
          </div>

          <h4>Код:</h4>
          <div class="code-block">
            <pre><code>&lt;button @click="isOpen = !isOpen"&gt;Показать/Скрыть галерею&lt;/button&gt;
&lt;div v-show="isOpen"&gt;
  &lt;img v-for="img in images" :src="img" :key="img"&gt;
&lt;/div&gt;
&lt;script&gt;
Vue.createApp({
  data() {
    return {
      isOpen: true,
      images: [
        "https://placehold.co/80x80?text=1",
        "https://placehold.co/80x80?text=2",
        "https://placehold.co/80x80?text=3"
      ]
    }
  }
}).mount("#gallery-demo");
&lt;/script&gt;</code></pre>
          </div>
          <h5>Объяснение кода:</h5>
          <ul class="list-ul">
            <li>Используем <code>v-show</code> для управления видимостью галереи изображений.</li>
            <li>Кнопка переключает значение <code>isOpen</code>, показывая или скрывая галерею.</li>
            <li>Используем <code>v-for</code> для перебора массива изображений и их отображения.</li>
          </ul>





          <!-- Пример 3 -->
          <h3 style="margin-top: 50px;">Пример 3. Таблица пользователей с ролями</h3>
          <p class="note note--info">Отображаем роли пользователей с помощью v-if/v-else-if/v-else:</p>

          <div class="interactive-demo">
            <div id="table-demo">
              <table>
                <tr>
                  <th>Имя</th>
                  <th>Роль</th>
                </tr>
                <tr v-for="user in users" :key="user.id">
                  <td>{{ user.name }}</td>
                  <td>
                    <span v-if="user.role === 'admin'">👑 Админ</span>
                    <span v-else-if="user.role === 'user'">👤 Пользователь</span>
                    <span v-else>🚪 Гость</span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <h4>Код:</h4>
          <div class="code-block">
            <pre><code>&lt;tr v-for="user in users" :key="user.id"&gt;
  &lt;td&gt;{{ user.name }}&lt;/td&gt;
  &lt;td&gt;
    &lt;span v-if="user.role === 'admin'"&gt;👑 Админ&lt;/span&gt;
    &lt;span v-else-if="user.role === 'user'"&gt;👤 Пользователь&lt;/span&gt;
    &lt;span v-else&gt;🚪 Гость&lt;/span&gt;
  &lt;/td&gt;
&lt;/tr&gt;

&lt;script&gt;
Vue.createApp({
  data() {
    return {
      users: [
        { id: 1, name: "Алиса", role: "admin" },
        { id: 2, name: "Боб", role: "user" },
        { id: 3, name: "Гость", role: "guest" }
      ]
    }
  }
}).mount("#table-demo");
&lt;/script&gt;</code></pre>
          </div>
          <h5>Объяснение кода:</h5>
          <ul class="list-ul">
            <li>Используем <code>v-for</code> для перебора массива пользователей и отображения их в таблице.</li>
            <li>Используем <code>v-if</code>, <code>v-else-if</code> и <code>v-else</code> для отображения роли пользователя с соответствующей иконкой.</li>


        </div>
      </section>
    </main>
    <footer>
  <a href="#" class="back-to-top">Наверх ↑</a>
</footer>

  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <script>
    // v-if/v-else demo: авторизация
    Vue.createApp({
      data() {
        return {
          isLoggedIn: false,
        };
      },
    }).mount("#auth-demo");

    // v-show demo
    Vue.createApp({
      data() {
        return {
          isVisible: true,
        };
      },
    }).mount("#show-demo");

    // v-else-if demo
    Vue.createApp({
      data() {
        return {
          role: "user",
        };
      },
    }).mount("#role-demo");

    // Практика: переключение текста
    Vue.createApp({
      data() {
        return {
          isVisible: true,
        };
      },
      methods: {
        toggleText() {
          this.isVisible = !this.isVisible;
        },
      },
    }).mount("#toggle-demo");

    // Пример 1: задачи с фильтрацией
    Vue.createApp({
      data() {
        return {
          search: "",
          tasks: [{
              id: 1,
              text: "Купить хлеб"
            },
            {
              id: 2,
              text: "Сделать уроки"
            },
            {
              id: 3,
              text: "Позвонить другу"
            },
          ],
        };
      },
      computed: {
        filteredTasks() {
          return this.tasks.filter((t) => t.text.toLowerCase().includes(this.search.toLowerCase()));
        },
      },
    }).mount("#tasks-demo");

    // Пример 2: галерея с v-show
    Vue.createApp({
      data() {
        return {
          isOpen: true,
          images: ["https://placehold.co/80x80?text=1", "https://placehold.co/80x80?text=2", "https://placehold.co/80x80?text=3"],
        };
      },
    }).mount("#gallery-demo");

    // Пример 3: таблица пользователей с ролями
    Vue.createApp({
      data() {
        return {
          users: [{
              id: 1,
              name: "Алиса",
              role: "admin"
            },
            {
              id: 2,
              name: "Боб",
              role: "user"
            },
            {
              id: 3,
              name: "Гость",
              role: "guest"
            },
          ],
        };
      },
    }).mount("#table-demo");
  </script>



</body>

</html>